<div class="show-table" style="height:400px;">
	<table class="pageTable" id="ajaxListData">
		<thead>
			<tr>
				<th style="width:8%;min-width:20px;"><span>#</span></th>
				<th style="width:8%;min-width:60px;"><span>姓名</span></th>
				<th style="width:8%;min-width:60px;"><span>警号</span></th>
				<th style="width:10%;min-width:100px;"><span>所属部门</span></th>
				<th style="width:8%;min-width:60px;"><span>设备品牌</span></th>
				<th style="width:8%;min-width:60px;"><span>设备型号</span></th>
				<th style="width:15%;min-width:150px;"><span>IMEI号</span></th>
				<th style="width:15%;min-width:100px;"><span>SIM卡号</span></th>
			</tr>
		</thead>
		<tbody>
<!-- 			<tr> -->
<!-- 				<td>1</td> -->
<!-- 				<td>罗凯霞</td> -->
<!-- 				<td>1238483</td> -->
<!-- 				<td>政治处</td> -->
<!-- 				<td>信大捷安</td> -->
<!-- 				<td>ACE</td> -->
<!-- 				<td>1828374849393</td> -->
<!-- 				<td>123123</td> -->
<!-- 			</tr> -->
		</tbody>
	</table>
</div>
