<!-- 绑定开始 -->
<div id="blackListDiv" style="height:400px;width:800px;overflow:auto;">
	<form id="frm" class="content-bianju">
		<div class="handle-search">
			<div class="handle-div">
				<div class="btn-toolbar" role="toolbar" aria-label="...">
					<div class="btn-group ml0" role="group" aria-label="...">
						<button class="btn btn-default" id="deleteBtn" type="button">移出黑名单</button>
					</div>
				</div>
			</div>
		</div>
	
		<div class="show-table">
			<table class="pageTable" id="blackList">
				<thead>
					<tr>
						<th style="width:2%;"><span><input type="checkbox" name="checkAll" id="checkBlackAll"/></span></th>
						<th style="width:5%;"><span>序号</span></th>
						<th style="width:15%;min-width:120px;"><span>IMEI号</span></th>
						<th style="width:7%;min-width:50px;"><span>警号</span></th>
						<th style="width:7%;min-width:40px;"><span>使用人</span></th>
						<th style="width:20%;min-width:150px;"><span>所属部门</span></th>
						<th style="width:15%;min-width:100px;"><span>加入黑名单时间</span></th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
	</form>
</div>
<!-- 绑定开始end -->