<!--左侧搜索表单-->
<form class="role-frm">
    <a class="backToList" ng-click="goBack()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;返回列表</a>
    <div><span class="listNum" ng-bind="tableParams.total()">0</span>个应用</div>
    <hr class="hr-solid">
    <div><span class="deviceTitle" style="font-weight: bold;margin-right: 5px" ng-bind="deviceInfo.personName"></span><span class="fc9">（<span ng-bind="deviceInfo.personCode"></span>）</span></div>
    <p class="fc6" ng-bind="deviceInfo.deptName">部门名称</p>

    <hr class="hr-solid">

    <div style="height: 85px">
        <img src="${base}/themes/default/images/device.png" style="float: left; margin-right: 20px; width: 85px;" />
        <p class="personName" style="font-size:16px; margin-bottom: 10px;padding-top:10px" ng-bind="deviceInfo.model"></p>
        <p class="fc6"><span ng-bind="deviceInfo.osName"></span></p>
        <p class="fc6">已激活</p>
    </div>
    <hr class="hr-solid">
    <div ng-click="changestate()" class="curpos liTitle">
        <span class="glyphicon glyphicon-triangle-bottom" ng-show="deviceState"></span>
        <span class="glyphicon glyphicon-triangle-right" ng-show="!deviceState"></span>
        <span>应用排序</span>
    </div>

    <ul class="role-list" ng-show="deviceState">
        <li ng-click="tableShow()" class="curpos">
            <input type="radio" name="stateRadio" ng-checked = "operatTime" id="timeOpeat" class="rdo_1">
            <label for="timeOpeat"></label>
            <label for="timeOpeat" class="curpos">
                <span>按运行时长排序</span>
            </label>
        </li>
        <li ng-click="timeLineShow()" class="curpos">
            <input type="radio" name="stateRadio" ng-checked="!operatTime" id="appRunTime" class="rdo_1">
            <label for="appRunTime"></label>
            <label for="appRunTime"  class="curpos">
                <span>按安装时间排序</span>
            </label>
        </li>
    </ul>
</form>

<!--右侧-->
<div class="admin-list" style="overflow: auto;height: 100%;">
    <div class="tz-right-content">
        <ul tabset>
            <!-- 整体设备应用监测 -->
            <li tab class="tz-tab-left" active="tabNotice[0].active" ng-click="goBackIndex()" disable="true" heading="{{tabNotice[0].heading}}"></li>
            <!-- 整体设备应用监测结束 -->

            <!-- 单个设备应用监测 -->
            <li tab class="tz-tab" active="tabNotice[1].active" disable="tabNotice[1].disabled" heading="{{tabNotice[1].heading}}">
                <div ng-show="operatTime">
                    <table ng-table="tableParams" show-filter="false" class="table vtable-hover" >

                        <!--自定义表头-->
                        <colgroup>
                            <col width="70px" style="padding-left: 25px;"/>
                            <col width="255px"/>
                            <col width="160px"/>
                            <col width="160px"/>
                        </colgroup>

                        <tr ng-repeat="item in $data track by $index" ng-class="{visited:item.visited}" ng-click="clickAppTr(item)">
                            <td data-title="'排名'">
                                <div class="td left-border default h100">
                                    <span ng-bind="(params.page()-1) * (params.count()) + $index + 1"></span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'应用名称'" >
                                <div class="td default h100">
                                    <span>
                                        <img style="width: 60px;height: 60px;" ng-src="{{ supportB64?item.icon : '${base}/ecss/downloadImg.do?imgId=' + item.appId}}"/>
                                        <span ng-bind="item.name"></span>
                                    </span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'应用版本号'">
                                <div class="td default h100 table-whitespace" style="max-width: 200px">
                                    <span ng-bind="item.version"></span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'运行时长'">
                                <div class="td default h100">
                                    <span ng-bind="item.durationAll | parsehour"></span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'最近一次启动时间'">
                                <div class="td default h100">
                                    <span ng-bind="item.startTime | date:'yyyy-MM-dd HH:mm:ss'"></span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p ng-class="{ true : 'recordsNumGtTen', false : 'recordsNumLeTen' }[tableParams.total() > tableParams.count()]" ng-bind="'当前'+tableParams.total()+'条'"></p>
                </div>

                <div ng-show="!operatTime">
                    <div class="tz-msg-history" when-scrolled="loadMoreDeviceAppList()">
                        <ul>
                            <li ng-repeat = "app in appsList" >
                                <div class="li-content">
                                    <div class="date-left leftPicCircle">
                                        <img style="width: 60px;height: 60px;" ng-src="{{ supportB64?app.icon : '${base}/ecss/downloadImg.do?imgId=' + app.appId}}" />
                                    </div>
                                    <div class="msg-right fc6" style="padding-top: 0px;">
                                        <p class="personName" ng-bind="app.name"></p>
                                        <p class="fs12">版本号：<span ng-bind="app.version"></span></p>
                                        <p class="fs12">安装时间：<span ng-bind="app.installTime | date:'yyyy-MM-dd HH:mm'"></span></p>
                                    </div>
                                </div>
                                <div class="li-content">
                                    <img style="margin-left: 45px;" src="${base}/images/line.png"/>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- 单个设备应用监测结束 -->
        </ul>
    </div>
</div>
<div class="admin-list userList noResultContent" style="top: 80px;" ng-show="noResultContent2">
    <div class="dialogNormal noResult">
        <div class="faceLogo">
            <img src="${base}/themes/default/images/secondConfirm.png" />
        </div>
        <div class="dialogContent">
            <p class="secondConfirm">啊呀，没有检索到任何内容……</p>
            <p class="fs14">
                <img src="${base}/themes/default/images/circleRight.png" />
                请更改条件后再次搜索或筛选
            </p>
        </div>
        <div class="clearfloat"></div>
    </div>
</div>