<!--左侧搜索表单-->
<form class="role-frm">
    <div ng-show="tabNotice[0].active"><span class="listNum" ng-bind="appRun.total">0</span>个应用</div>
    <div ng-show="tabNotice[1].active"><span class="listNum" ng-bind="totalRecords">0</span>台设备</div>

    <hr class="hr-solid">
    <div>
        <input ng-show="tabNotice[0].active" type="text" placeholder="搜索应用名..." mdc-placeholder ng-keyup="myKeyup($event)" class="form-control leftsearch" ng-model="appRun.search">
        <input ng-show="tabNotice[1].active" type="text" placeholder="搜索姓名、警号或IMEI号..." mdc-placeholder ng-keyup="myKeyup($event)" class="form-control leftsearch" ng-model="appRun.search">
        <span ng-click="searchClick()" class="glyphicon glyphicon-search form-search"></span>
        <span ng-click="cleanSearch()" ng-show="appRun.search" class="curpos cleanSearchBtn">×</span>
    </div>
    <hr class="hr-solid">

    <div  ng-show="tabNotice[1].active" class="ztreeDiv" ng-mouseleave="closeTree()">
        <div class="input-group icon-search"  ng-click="showDept()">
            <div class="form-control leftTree">
                <input style="border: none;" type="text" placeholder="要筛选的部门..."  mdc-placeholder readonly ng-show="!selectDept.name" ng-model="selectDept.name">
                <p ng-bind="selectDept.name" class="whiteSpace" title="{{selectDept.name}}"></p>
                <button class="close" ng-click="removeSelectDept()" type="button" style="position: relative;top: -22px;right: -10px" ng-show="selectDept.name">×</button>
            </div>
            <span class="input-group-addon">
                <span style="font-size: 12px;" class="glyphicon glyphicon-triangle-bottom"></span>
            </span>
        </div>
        <div class=" form-control authChoose flowZtree" ng-style="flowZtreeWidth" ng-show="showTree" when-scrolled="loadMoreDeptList()">
            <div class="input-group icon-search">
                <input type="text" placeholder="搜索部门..." mdc-placeholder ng-keyup="myKeyupdept($event)" class="form-control" ng-model="d.deptName">
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-search" ng-click="searchdept()"></span>
                </span>
            </div>
            <div>
                <ul>
                    <li ng-repeat="dept in deptList" style="margin-top: 8px;list-style: none;">
                        <img src="${base}/themes/default/images/deptGroup.png">
                        <span ng-click="onSelectedDept(dept)" title="{{dept.name}}" ng-bind="dept.name | cut:true:10:' ...'"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-show="tabNotice[0].active">
        <div ng-click="changestate()" class="curpos liTitle">
            <span class="glyphicon glyphicon-triangle-bottom" ng-show="deviceState"></span>
            <span class="glyphicon glyphicon-triangle-right" ng-show="!deviceState"></span>
            <span>应用排序</span>
        </div>

        <ul class="role-list" ng-show="deviceState">
            <li>
                <input type="radio" name="stateRadio" id="appFlagNum" class="rdo_1" ng-model="appRun.flag" value="1" ng-checked="appRun.flag == 1" ng-change="searchClick()">
                <label for="appFlagNum"></label>
                <label for="appFlagNum" class="curpos" >按安装量排序</label>
            </li>
            <li>
                <input type="radio" name="stateRadio" id="appFlagTime" class="rdo_1" ng-model="appRun.flag" value="2" ng-change="searchClick()">
                <label for="appFlagTime"></label>
                <label for="appFlagTime" class="curpos" >按运行时长排序</label>
            </li>
        </ul>
    </div>
</form>

<!--右侧-->
<div class="admin-list" style="overflow: auto;height: 100%;">
    <div class="tz-right-content">
        <ul tabset>
            <!-- 整体设备应用监测 -->
            <li tab class="tz-tab-left" active="tabNotice[0].active" ng-click="tabClickFir()" onselect="return false;" disable="tabNotice[0].disabled" heading="{{tabNotice[0].heading}}">
                <table ng-table="tableParams" show-filter="false" class="table vtable-hover">

                    <!--自定义表头-->
                    <colgroup>
                        <col width="60px" style="padding-left: 25px;"/>
                        <col width="255px"/>
                        <col width="160px"/>
                        <col width="160px"/>
                        <col />
                    </colgroup>

                    <tr ng-repeat="it in $data track by $index" ng-click="clickTr(it)" ng-class="{visited:it.visited}">
                        <td data-title="'排名'">
                            <div class="td left-border default h100">
                                <span ng-bind="(params.page()-1) * (params.count()) + $index + 1"></span>
                                <div class="vline right-vline"></div>
                            </div>
                        </td>
                        <td data-title="'应用名称'" >
                            <div class="td default h100">
                                <span>
                                    <img style="width: 60px;height: 60px;margin-right: 10px;" ng-src="{{ supportB64?it.icon : '${base}/ecss/downloadImg.do?imgId=' + it.appId}}"/>
                                    <span ng-bind="it.name"></span>
                                </span>
                                <div class="vline right-vline"></div>
                            </div>
                        </td>
                        <td data-title="'应用版本号'">
                            <div class="td default h100">
                                <span ng-bind="it.version"></span>
                                <div class="vline right-vline"></div>
                            </div>
                        </td>
                        <td data-title="'运行时长'">
                            <div class="td default h100">
                                <span ng-bind="it.durationAll | parsehour"></span>
                                <div class="vline right-vline"></div>
                            </div>
                        </td>
                        <td data-title="'安装量'">
                            <div class="td right-border default h100" >
                                <span ng-bind="it.installCount"></span>
                            </div>
                        </td>
                    </tr>
                </table>
                <p ng-class="{ true : 'recordsNumGtTen', false : 'recordsNumLeTen' }[tableParams.total() > tableParams.count()]" ng-bind="'当前'+tableParams.total()+'条'"></p>
            </li>
            <!-- 整体设备应用监测结束 -->

            <!-- 单个设备应用监测 -->
            <li tab class="tz-tab" active="tabNotice[1].active" ng-click="tabClickSec()" disable="tabNotice[1].disabled" heading="{{tabNotice[1].heading}}">
                <div class="absoluteDiv" style="top: 72px;bottom: 151px;padding-top: 0px;">
                    <table ng-table="deviceTable" show-filter="false" class="table vtable-hover">

                        <!--自定义表头-->
                        <colgroup>
                            <col width="160px" style="padding-left: 25px;"/>
                            <col width="255px"/>
                            <col width="160px"/>
                            <col />
                        </colgroup>

                        <tr ng-repeat="item in $data track by $index" ng-click="clickAppTr(item)" ng-class="{visited:item.visited}">
                            <td data-title="'设备所属人员'">
                                <div class="td left-border default">
                                    <span ng-bind="item.personName"></span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'警号'">
                                <div class="td default">
                                    <span ng-bind="item.personCode"></span>

                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'设备型号'">
                                <div class="td default">
                                    <span ng-bind="item.model"></span>

                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'操作'">
                                <div class="td right-border default" >
                                    <span class="desc-text" ng-click="checkInfo(item.imei)">查看应用监测</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p ng-class="{ true : 'recordsNumGtTen', false : 'recordsNumLeTen' }[deviceTable.total() > deviceTable.count()]" ng-bind="'当前'+deviceTable.total()+'条'"></p>
                </div>
            </li>
            <!-- 单个设备应用监测结束 -->
        </ul>
    </div>
</div>
<div class="admin-list userList noResultContent" style="top: 80px;" ng-show="(tabNotice[0].active&&noResultContent1)||(tabNotice[1].active&&noResultContent2)">
    <div class="dialogNormal noResult">
        <div class="faceLogo">
            <img src="${base}/themes/default/images/secondConfirm.png" />
        </div>
        <div class="dialogContent">
            <p class="secondConfirm">啊呀，没有检索到任何内容……</p>
            <p class="fs14">
                <img src="${base}/themes/default/images/circleRight.png" />
                请更改条件后再次搜索或筛选
            </p>
        </div>
        <div class="clearfloat"></div>
    </div>
</div>

<div class="foot" ng-show="tabNotice[1].active">
    <div class="infoImg">
        <img src="${base}/themes/default/images/people.png" />
    </div>
    <p class="personName" style="margin-bottom: 3px;">
        {{prevAppItem.personName}}
    </p>
    <p class="fcb" style="padding-bottom:6px" ng-bind="prevAppItem.deptName"></p>
    <p class="deviceInfo"><span class="deviceInfoName">警号:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span ng-bind="prevAppItem.personCode||'--'"></span></p>
    <p class="deviceInfo"><span class="deviceInfoName">IMEI号:&nbsp;&nbsp;&nbsp;</span><span ng-bind="prevAppItem.imei||'--'"></span></p>
    <p class="deviceInfo"><span class="deviceInfoName">设备型号:</span><span ng-bind="prevAppItem.model||'--'"></span></p>
</div>