<!DOCTYPE html>
<html lang="zh_CN">
<head>
<title>404 错误</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<style>
.images { padding: 160px 0 60px; }
.size-20 { font-size: 20px; }
</style>
</head>
<body>
	<div class="container-fluid back-color">
		<div class="row-fluid">
			<div class="span12" style="text-align: center;">
				<img class="images" src="${base}/themes/default/images/404.png">
				<p class="text-center size-20">额~~很抱歉，您要找的页面不存在！</p>
			</div>
		</div>
	</div>
	</body>
</html>
