<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>帮助中心</title>
<link rel="shortcut icon" href="${base}/image/favicon.ico" type="image/png" />	
<script type="text/javascript" src="${base}/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="${base}/script/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="${base}/themes/default/css_ecss/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="${base}/themes/default/css_ecss/style.css" />
<style>
.mt10 { margin-top: 10px; }
</style>
</head>
<body>
<div class="content-bianju">
<div id="accordion" class="panel-group pt10" role="tablist" aria-multiselectable="true">

	<h1 class="h1 mt10">登陆相关问题</h1>
	<div class="panel panel-default mt10"> 
		<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapseOne">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">1.如何登录集团自服务？</h4>
			</div>
		</a>
		<div id="collapse1" class="panel-collapse collapse" role="tabpanel">
			<div class="panel-body">
				<div class="stepPic">使用管理员专用“USB Key”，进入安全中心（www.safecenter.com）->集团登录->集团自服务，输入账号、密码、安全口令即可登录。
				如图1、图2:</div>
				<div class="plr20 w1000">
					<div><img src="${base}/themes/default/images/help/1-1-1.jpg" /></div>
					<div class="textc pt10 pb30">图1：安全中心首页</div>
				</div>
				<div class="plr20 w1000">
					<div><img src="${base}/themes/default/images/help/1-1-2.jpg" /></div>
					<div class="textc pt10 pb30">图2：集团自服务登录页</div>
				</div>
			</div>
		</div>
	</div>

	<h1 class="h1 mt20">人员管理相关问题</h1>
	<div class="panel panel-default mt10"> 
		<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapseOne">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">1.如何管理集团部门信息？</h4>
			</div>
		</a>
		<div id="collapse2" class="panel-collapse collapse" role="tabpanel">
			<div class="panel-body">
				<div class="stepPic">登录“集团自服务”后，进入人员管理->部门信息，进行部门信息管理。如图1：</div>
				<div class="plr20 w1000">
					<div><img src="${base}/themes/default/images/help/2-1-1.jpg" /></div>
					<div class="textc pt10 pb30">图1：部门信息管理</div>
				</div>
			</div>
		</div>
	</div>


    <div class="panel panel-default mt10"> 
		<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapseOne">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">2.怎样添加人员到集团？</h4>
			</div>
		</a>
		<div id="collapse3" class="panel-collapse collapse" role="tabpanel">
			<div class="panel-body">
				<div class="stepPic">系统提供提供了“批量导入”和单个“添加”两种人员录入方式。<br/>
					（1）人员管理->人员信息：点击“批量导入”按钮来批量导入人员信息。（备注：导入文件的格式必须为xls或xlsx格式）<br/>
					（2）人员管理->人员信息：点击“添加”按钮来单个添加人员信息。
				如图1:</div>
				<div class="plr20 w1000">
					<div><img src="${base}/themes/default/images/help/2-2-2.jpg" /></div>
					<div class="textc pt10 pb30">图1：添加人员</div>
				</div>
			</div>
		</div>
	</div>


    <div class="panel panel-default mt10"> 
		<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapseOne">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">3.人员信息页面的“绑定”和“解绑”操作是怎么回事？</h4>
			</div>
        </a>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
			<div class="panel-body">
				<div class="stepPic">“绑定”指的是建立人员与设备的对应关系，即为人员分配设备；“解绑”指的是解除设备与人员的绑定关系，同时将该设备从集团自服务系统中删除，解绑后集团管理员无法再管理该设备。<br/>
              需要注意的是目前的绑定和解绑都依赖于设备所属的安通+帐号，即绑定时会将同一帐号下的所有设备绑定到该人员；解绑时会将该帐号下的所有设备统一解绑。</div>
			</div>
        </div>
	</div>

      <h1 class="h1 mt20">设备管理相关问题</h1>
      <div class="panel panel-default mt10"> 
			<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapseOne">
				<div class="panel-heading" role="tab">
					<h4 class="panel-title">1.“设备管理”模块中的“管控”有什么作用？</h4>
				</div>
			</a>
			<div id="collapse5" class="panel-collapse collapse" role="tabpanel">
				<div class="panel-body">
					<div class="stepPic">通过管控操作，集团管理员可以获取设备的基本信息并对设备进行管理，如冻结/解冻设备，获取设备当前屏幕、当前位置信息、已安装应用信息，强制卸载应用，擦除设备数据，强制设备恢复出厂设置等。为了方便用户操作，集团自服务系统提供了单个管控（详细管控）和批量管控两种形式。<br/>
					单个设备管控：在“设备管理”中选择管控的设备，然后点击“详细管控”按钮。
					如图1:</div>
					<div class="plr20 w1000">
						<div><img src="${base}/themes/default/images/help/3-1-1.jpg" /></div>
						<div class="textc pt20">图1：单个设备管控</div>
					</div>
              <div class="stepPic">（1）设备详情以及冻结/解冻操作。
                如图2:</div>
              <div class="plr20 w1000">
                <div><img src="${base}/themes/default/images/help/3-1-2.jpg" /></div>
                <div class="textc pt20">图2：设备详情以及冻结/解冻操作</div>
              </div>
              <div class="stepPic">（2）获取设备屏幕信息：点击“获取屏幕信息”按钮。
                如图3:</div>
              <div class="plr20 w1000">
                <div><img src="${base}/themes/default/images/help/3-1-3.jpg" /></div>
                <div class="textc pt20">图3：获取设备屏幕信息</div>
              </div>
              <div class="stepPic">批量管控：选择需要管控的设备，点击“批量管控”按钮。
                如图4:</div>
              <div class="plr20 w1000">
                <div><img src="${base}/themes/default/images/help/3-1-4.jpg" /></div>
                <div class="textc pt20">图4：批量管控</div>
              </div>
            </div>
          </div>
        </div>

       
          <div class="panel panel-default mt10"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapseOne">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">2.设备策略指的是什么？</h4>
            </div>
            </a>
            <div id="collapse6" class="panel-collapse collapse" role="tabpanel">
              <div class="panel-body">
                <div class="stepPic">设备策略指的是集团管理员通过集团自服务系统为设备制定的运行规则，例如：可以规定设备响应指令的方式，设备的硬件状态以及网络访问控制等。<br/>
                  指令响应策略：规定了设备接收到指令后是直接执行还是询问用户是否同意执行；<br/>
                  硬件管控策略：规定了设备是否可以使用WIFI，定位，蓝牙，相机等应用；<br/>
                  网络访问控制：规定了不允许设备访问的IP地址以及IP地址段。
                  如图1:</div>
                <div class="plr20 w1000">
                  <div><img src="${base}/themes/default/images/help/3-2-1.jpg" /></div>
                  <div class="textc pt10 pb30">图1：设备策略首页</div>
                </div>
              </div>
            </div>
          </div>

         
            <div class="panel panel-default mt10"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapseOne">
              <div class="panel-heading" role="tab">
                <h4 class="panel-title">3.如何新建和发布策略？</h4>
              </div>
              </a>
              <div id="collapse7" class="panel-collapse collapse" role="tabpanel">
                <div class="panel-body">
                  <div class="stepPic">进入设备策略，按照页面提示即可新建策略，新建完成之后点击“发布”按钮，此策略生效。选择该策略需要发送的设备即可对设备进行操作。
                    如图1、图2、图3:</div>
                  <div class="plr20 w1000">
                    <div><img src="${base}/themes/default/images/help/3-3-1.jpg" /></div>
                    <div class="textc pt10 pb30">图1：新建策略</div>
                  </div>
                  <div class="plr20 w1000">
                    <div><img src="${base}/themes/default/images/help/3-3-2.jpg" /></div>
                    <div class="textc pt10 pb30">图2：发布策略</div>
                  </div>
                  <div class="plr20 w1000">
                    <div><img src="${base}/themes/default/images/help/3-3-3.jpg" /></div>
                    <div class="textc pt10 pb30">图3：将策略应用到设备</div>
                  </div>
                </div>
              </div>
            </div>

            <h1 class="h1 mt20">应用管理相关问题</h1>
              <div class="panel panel-default mt10"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapseOne">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">1.应用管理能解决集团面临的哪些问题？</h4>
                </div>
                </a>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel">
                  <div class="panel-body">
                    <div class="stepPic">应用管理为设备应用的整个生命周期（安装、启动、运行、卸载）提供了全面的管控措施，有效防止终端安装恶意应用，阻止有安全隐患的应用启动，限制应用恶意访问设备隐私，为集团成员消除了恶意软件的危害。</div>
                  </div>
                </div>
              </div>

                <div class="panel panel-default mt10"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapseOne">
                  <div class="panel-heading" role="tab">
                    <h4 class="panel-title">2.集团自服务系统可以管理的应用来自哪里？</h4>
                  </div>
                  </a>
                  <div id="collapse9" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                      <div class="stepPic">集团管理员可管控的应用均出自应用库，应用库中的应用为集团设备已安装应用的最大集合。应用库中的所有应用均可定期自动上报，且可根据集团设备已安装应用的变化而进行相应更新，保证当前应用为最新版本。<br/>
                        查看应用库：应用管理->应用策略管理->查看应用库
                        如图1、图2:</div>
                      <div class="plr20 w1000">
                        <div><img src="${base}/themes/default/images/help/4-2-1.jpg" /></div>
                        <div class="textc pt10 pb30">图1：应用策略管理</div>
                      </div>
                      <div class="plr20 w1000">
                        <div><img src="${base}/themes/default/images/help/4-2-2.jpg" /></div>
                        <div class="textc pt10 pb30">图2：查看应用库</div>
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="panel panel-default mt10"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="true" aria-controls="collapseOne">
                    <div class="panel-heading" role="tab">
                      <h4 class="panel-title">3.应用策略中黑/白名单应用，强制运行，应用权限，为单独应用设置权限分别是什么意思？</h4>
                    </div>
                    </a>
                    <div id="collapse10" class="panel-collapse collapse" role="tabpanel">
                      <div class="panel-body">
                        <div class="stepPic">黑名单应用：黑名单是设置禁止操作的应用，黑名单中的应用将会被禁止安装&启动。<br/>
                          白名单应用：白名单是设置允许操作的应用，白名单以外的应用将被禁止安装&启动。
                          如图1、图2:</div>
                        <div class="plr20 w1000">
                          <div><img src="${base}/themes/default/images/help/4-3-1.jpg" /></div>
                          <div class="textc pt10 pb30">图1：选择黑/白名单</div>
                        </div>
                        <div class="plr20 w1000">
                          <div><img src="${base}/themes/default/images/help/4-3-2.jpg" /></div>
                          <div class="textc pt10 pb30">图2：选择应用</div>
                        </div>
                        <div class="stepPic">强制运行应用：这部分应用不允许被卸载、强制停止和清除数据。
                          如图3:</div>
                        <div class="plr20 w1000">
                          <div><img src="${base}/themes/default/images/help/4-3-3.jpg" /></div>
                          <div class="textc pt10 pb30">图3：强制运行应用</div>
                        </div>
                        <div class="stepPic">设置应用权限：可以规定允许或禁止所有应用访问的权限（单独设置权限的应用除外）。
                          如图4:</div>
                        <div class="plr20 w1000">
                          <div><img src="${base}/themes/default/images/help/4-3-4.jpg" /></div>
                          <div class="textc pt10 pb30">图4：设置应用权限</div>
                        </div>
                        <div class="stepPic">为单独应用设置权限：用户可以选择为单独应用设置允许或禁用的权限，单独设置权限的应用不受上一条“设置应用权限”的限制。
                          如图5:</div>
                        <div class="plr20 w1000">
                          <div><img src="${base}/themes/default/images/help/4-3-5.jpg" /></div>
                          <div class="textc pt10 pb30">图5：为单独应用设置权限</div>
                        </div>
                      </div>
                    </div>
				</div>

                  <h1 class="h1 mt20">设备审计相关问题</h1>
                  
                    <div class="panel panel-default mt10"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="true" aria-controls="collapseOne">
                      <div class="panel-heading" role="tab">
                        <h4 class="panel-title">1.设备审计都包含哪些方面的审计？</h4>
                      </div>
                      </a>
                      <div id="collapse11" class="panel-collapse collapse" role="tabpanel">
                        <div class="panel-body">
                          <div class="stepPic">管控执行审计：统计管控指令的执行情况。
                            如图1:</div>
                          <div class="plr20 w1000">
                            <div><img src="${base}/themes/default/images/help/5-1-1.jpg" /></div>
                            <div class="textc pt10 pb30">图1：管控执行审计</div>
                          </div>
                          <div class="stepPic">设备违规审计：用户自己或是设备中的应用试图去访问已经被禁用的硬件，则会被记录违规。
                            如图2:</div>
                          <div class="plr20 w1000">
                            <div><img src="${base}/themes/default/images/help/5-1-2.jpg" /></div>
                            <div class="textc pt10 pb30">图2：设备违规审计</div>
                          </div>
                          <div class="stepPic">设备审计日志：记录设备与指令执行，策略更新，硬件行为等相关一切行为轨迹。
                            如图3:</div>
                          <div class="plr20 w1000">
                            <div><img src="${base}/themes/default/images/help/5-1-3.jpg" /></div>
                            <div class="textc pt10 pb30">图3：设备审计日志</div>
                          </div>
                          <div class="stepPic">统计报表：设备实时连接状态，设备状态，在线设备数趋势统计。
                            如图4:</div>
                          <div class="plr20 w1000">
                            <div><img src="${base}/themes/default/images/help/5-1-1.jpg" /></div>
                            <div class="textc pt10 pb30">图4：统计报表</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
      </div>            
</body>
</html>
