<!--<div class="span12">
    <form class="form">Min: <input type="number" ng-model="chartConfig.xAxis.currentMin">
        Max: <input type="number" ng-model="chartConfig.xAxis.currentMax">
    </form>
    <br/>
    <button class="btn btn-primary" ng-click="addSeries()">Add Series</button>
    <button class="btn btn-primary" ng-click="addPoints()">Add Points to Random Series</button>
    <button class="btn btn-primary" ng-click="removeRandomSeries()">Remove Random Series</button>
    <button class="btn btn-primary" ng-click="toggleLoading()">Loading?</button>
    <p>Try zooming on the chart also...</p>
</div>

<div class="row col-sm-6 col-sm-offset-3" >
    <highchart id="chart1" config="chartConfig" class="span10"></highchart>
</div>-->

<!-- 首页内容 -->
<style>
	.highcharts-xaxis-labels{
		display: none !important;
	}
</style>
<div class="homeIndexBg">
	<!--<div class="firstTileDiv titleDiv" ng-click="goToPersonDevList()">-->
		<!--<img class="leftTotalLogo" src="../themes/default/images/total-device.png" />-->
		<!--<img class="rightTopLogo" src="../themes/default/images/top1.png" />-->
		<!--<p class="leftTotalWord">大树社区</p>-->
		<!--<div class="rightTopDiv" style="top: -82px;">-->
			<!--<p class="rightTopNum" ng-bind="deviceNum"></p>-->
			<!--<p class="rightTopWord">大树社区</p>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="secondTileDiv titleDiv" ng-click="goToAuditLogList()">-->
		<!--<img class="leftTotalLogo" src="../themes/default/images/against-device.png" />-->
		<!--<img class="rightTopLogo" src="../themes/default/images/top2.png" />-->
		<!--<p class="leftTotalWord">大树社区</p>-->
		<!--<div class="rightTopDiv">-->
			<!--<p class="rightTopNum" ng-bind="violationDeviceNum"></p>-->
			<!--<p class="rightTopWord">大树社区</p>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="thirdTileDiv titleDiv" ng-click="goToBlackDevList()">-->
		<!--<img class="leftTotalLogo" src="../themes/default/images/black-device.png" />-->
		<!--<img class="rightTopLogo" src="../themes/default/images/top3.png" />-->
		<!--<p class="leftTotalWord">大树社区</p>-->
		<!--<div class="rightTopDiv">-->
			<!--<p class="rightTopNum" ng-bind="blackListDeviceNum"></p>-->
			<!--<p class="rightTopWord">大树社区</p>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="fourthTileDiv titleDiv" ng-click="goToFlowList()">-->
		<!--<img class="leftTotalLogo" src="../themes/default/images/overdata-device.png" />-->
		<!--<img class="rightTopLogo" src="../themes/default/images/top4.png" />-->
		<!--<p class="leftTotalWord">大树社区</p>-->
		<!--<div class="rightTopDiv">-->
			<!--<p class="rightTopNum" ng-bind="flowDataDeviceNum"></p>-->
			<!--<p class="rightTopWord">大树社区</p>-->
		<!--</div>-->
	<!--</div>-->
	<div class="clearfloat"></div>
	<div style="margin-top: 40px;" align="center">
		<p style="font-size: 26px;">11111</p>
	</div>
</div>

<!--<section ng-show="alert.msg" style="position: absolute; top: 20px; left: 400px; right: 400px; z-index: 9999;">-->
    <!--<div class="alert ng-scope ng-isolate-scope alert-dismissable" ng-class="['alert-' + (alert.type || 'warning'), alert.closeable ? 'alert-dismissable' : null]" role="alert">-->
        <!--<button ng-show="alert.closeable" type="button" class="close" ng-click="alert=null" data-dismiss="alert" aria-label="close">-->
            <!--<span aria-hidden="true">×</span>-->
        <!--</button>-->
        <!--<div>-->
            <!--<span class="ng-scope ng-binding" ng-bind="alert.msg"></span></div>-->
    <!--</div>-->
<!--</section>-->