<!--左侧搜索表单-->
<form class="role-frm">
    <div ng-show="tabNotice[0].active"><span class="listNum" ng-bind="appNumber"></span>个应用</div>
    <div ng-show="tabNotice[1].active"><span class="listNum" ng-bind="deviceNumber"></span>台设备</div>

    <hr class="hr-solid">
    <div>
        <input type="text" placeholder="搜索IMEI、姓名、警号..." mdc-placeholder ng-keyup="myKeyup($event)" class="form-control leftsearch" ng-model="search">
        <span ng-click="searchClick()" class="glyphicon glyphicon-search form-search"></span>
        <span ng-click="cleanSearch()" ng-show="search" class="curpos cleanSearchBtn">×</span>
    </div>
    <hr class="hr-solid">
    <div class="ztreeDiv" ng-mouseleave="closeTree()">
        <div class="input-group icon-search" ng-click="showDept()">
            <div class="form-control leftTree">
                <input style="border: none;" type="text" placeholder="要筛选的部门..."  mdc-placeholder readonly ng-show="!selectDept.name" ng-model="selectDept.name">
                <p ng-bind="selectDept.name" class="whiteSpace" title="{{selectDept.name}}"></p>
                <button class="close" ng-click="removeSelectDept()" type="button" style="position: relative;top: -22px;right: -10px" ng-show="selectDept.name">×</button>
            </div>

            <span class="input-group-addon" >
                <span style="font-size: 12px;" class="glyphicon glyphicon-triangle-bottom"></span>
            </span>
        </div>
        <hr class="hr-solid">
        <div class=" form-control authChoose flowZtree" ng-show="showTree" ng-style="flowZtreeWidth" when-scrolled="loadMoreDeptList()">
            <div class="input-group icon-search">
                <input type="text" placeholder="搜索部门..." mdc-placeholder ng-keyup="myKeyupdept($event)" class="form-control" ng-model="d.deptName">
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-search" ng-click="searchdept()"></span>
                </span>
            </div>
            <div>
                <ul>
                    <li ng-repeat="dept in deptList" style="margin-top: 8px; list-style: none">
                        <img src="${base}/themes/default/images/deptGroup.png">
                        <span ng-click="onSelectedDept(dept)" title="{{dept.name}}" ng-bind="dept.name | cut:true:10:' ...'"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-click="changestate()" class="curpos liTitle" style="margin-top: 0px;z-index: 2;">
        <span class="glyphicon glyphicon-triangle-bottom" ng-show="deviceState"></span>
        <span class="glyphicon glyphicon-triangle-right" ng-show="!deviceState"></span>
        <span>时间区间</span>
    </div>

    <ul class="role-list" ng-show="deviceState && tabNotice[0].active" style="position:relative; z-index: 3;">
        <li class="curpos">
            <input type="radio" class="rdo_1" name="stateRadioNet" id="today" ng-model="tabNetTime" value="1" ng-change="changeTimeType()">
            <label for="today"></label>
            <label for="today"  class="curpos">今天</label>
        </li>
        <li class="curpos">
            <input type="radio" class="rdo_1" name="stateRadioNet" id="yesterday" ng-model="tabNetTime" value="2" ng-change="changeTimeType()">
            <label for="yesterday"></label>
            <label for="yesterday"  class="curpos">昨天</label>
        </li>
        <li class="curpos">
            <input type="radio" class="rdo_1" name="stateRadioNet" id="week" ng-model="tabNetTime" value="3" ng-change="changeTimeType()">
            <label for="week"></label>
            <label for="week"  class="curpos">近7天</label>
        </li>
        <li class="curpos">
            <input type="radio" class="rdo_1" name="stateRadioNet" id="month" ng-model="tabNetTime" value="4" ng-change="changeTimeType()">
            <label for="month"></label>
            <label for="month"  class="curpos">最近一个月</label>
        </li>
        <hr class="hr-solid">
    </ul>

    <ul class="role-list" ng-show="deviceState && tabNotice[1].active">
        <li class="curpos">
            <input type="radio" class="rdo_1" name="stateRadioFlow" id="nowMonth" ng-model="tabFlowTime" value="5" ng-change="changeTimeType()">
            <label for="nowMonth"></label>
            <label for="nowMonth"  class="curpos">当月</label>
        </li>
        <li class="curpos">
            <input type="radio" class="rdo_1" name="stateRadioFlow" id="topMonth" ng-model="tabFlowTime" value="6" ng-change="changeTimeType()">
            <label for="topMonth"></label>
            <label for="topMonth"  class="curpos">上月</label>
        </li>
    </ul>


    <div ng-show="tabNotice[0].active">
        <div ng-click="changestate2()" class="curpos liTitle">
            <span class="glyphicon glyphicon-triangle-bottom" ng-show="deviceState2"></span>
            <span class="glyphicon glyphicon-triangle-right" ng-show="!deviceState2"></span>
            <span>访问途径</span>
        </div>

        <ul class="role-list" ng-show="deviceState2">
            <li  class="curpos" ng-repeat="netType in netTypeArray">
                <input type="checkbox" ng-model="netType.selected" class="chk_1" id="{{netType.id}}" ng-change="netTypeSelect()">
                <label for="{{netType.id}}" ng-class="{'checkStyle':netType.selected}"></label>
                <label  class="curpos" for="{{netType.id}}" ng-bind="netType.name"></label>
            </li>
        </ul>
        <hr class="hr-solid">
    </div>
    <div ng-show="tabNotice[0].active">
        <div ng-click="changestate3()" class="curpos liTitle">
            <span class="glyphicon glyphicon-triangle-bottom" ng-show="deviceState2"></span>
            <span class="glyphicon glyphicon-triangle-right" ng-show="!deviceState2"></span>
            <span>访问应用</span>
        </div>

        <ul class="role-list" ng-show="deviceState3" style="margin-bottom: 30px;">
            <li  class="curpos">
                <input type="checkbox" ng-model="browerSelected" class="chk_1" id="brower" ng-change="browerSelect()">
                <label for="brower" ng-class="{'checkStyle':browerSelected}"></label>
                <label  class="curpos" for="brower">安全浏览器</label>
            </li>
        </ul>
    </div>

</form>

<!--右侧-->
<div class="admin-list" style="overflow: auto;height: 100%;">
    <div class="tz-right-content">
        <ul tabset>
            <!-- 网络监测 -->
            <li tab class="tz-tab-left" active="tabNotice[0].active" ng-click="netTabClickFir()"  onselect="return false;" disable="tabNotice[0].disabled" heading="{{tabNotice[0].heading}}">
                <table ng-table="tableParamsNet" show-filter="false" class="table vtable-hover">

                    <!--自定义表头-->
                    <colgroup>
                        <col width="125px"/>
                        <col width="200px"/>
                        <col width="125px"/>
                        <col width="90px"/>
                        <col width="160px"/>
                        <col/>
                    </colgroup>
                    <tr ng-repeat="item in $data track by $index" ng-click="clickNetTr(item)" ng-class="{visited:item.visited}">
                        <td data-title="'设备所属人员'" style="width: 11%; min-width: 125px;">
                            <div class="td left-border default">
                                <span ng-bind="item.personName"></span>
                                <div class="vline right-vline"></div>
                            </div>
                        </td>
                        <td data-title="'目标地址'" style="width: 25%; max-width: 200px;">
                            <div class="td default table-whitespace">
                                <span ng-bind="item.note | formatNetTarget" title="{{item.note | formatNetTarget}}"></span>
                                <div class="vline right-vline"></div>
                            </div>
                        </td>
                        <td data-title="'应用名称'"  style="width: 11%; min-width: 125px;">
                            <div class="td default">
                                <span ng-bind="item.appName"></span>
                                <div class="vline right-vline"></div>
                            </div>
                        </td>
                        <td data-title="'访问途径'" style="width: 8%; min-width: 90px;">
                            <div class="td default">
                                <span ng-bind="item.netTypeStr"></span>
                                <div class="vline right-vline"></div>
                            </div>
                        </td>
                        <td data-title="'访问时间'" style="width: 15%; min-width: 160px;">
                            <div class="td default">
                                <span ng-bind="item.visitTime | date : 'yyyy-MM-dd HH:mm:ss'"></span>
                                <div class="vline right-vline"></div>
                            </div>
                        </td>
                        <td data-title="'操作'" style="width: 11%; min-width: 125px;">
                            <div class="td right-border default" >
                                <span class="desc-text" ng-click="netInfo(item)">查看更多</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <p ng-show="tableParamsNet.total()!=0" ng-class="{ true : 'recordsNumGtTen', false : 'recordsNumLeTen' }[tableParamsNet.total() > tableParamsNet.count()]" ng-bind="'当前' + tableParamsNet.total() + '条'"></p>
            </li>
            <!-- 网络监测结束 -->

            <!-- 流量监测 -->
            <li tab class="tz-tab" active="tabNotice[1].active" ng-click="netTabClickSec()" disable="tabNotice[1].disabled" heading="{{tabNotice[1].heading}}">
                <div class="absoluteDiv" style="top: 72px;bottom: 151px;padding-top:0px;">
                    <table ng-table="tableParamsFlow" show-filter="false" class="table vtable-hover admin-list">

                        <!--自定义表头-->
                        <colgroup>
                            <col width="160px" style="padding-left: 25px;"/>
                            <col width="160px"/>
                            <col width="160px"/>
                            <col width="160px"/>
                            <col width="160px"/>
                            <col />
                        </colgroup>

                        <tr ng-repeat="item in $data track by $index" ng-click="clickFlowTr(item)" ng-class="{visited:item.visited}">
                            <td data-title="'设备所属人员'">
                                <div class="td left-border default">
                                    <span ng-bind="item.personName"></span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'警号'" >
                                <div class="td default">
                                    <span ng-bind="item.personCode"></span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'已用流量'" >
                                <div class="td default">
                                    <span ng-bind="item.flowData == null ? '0MB' : item.flowData + 'MB'"></span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'阈值'" >
                                <div class="td default">
                                    <span ng-bind="item.limitFlow == null ? '--' : item.limitFlow +'MB'"></span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'超出流量'">
                                <div class="td default">
                                    <span ng-if="item.limitFlow == null" >--</span>
                                    <span ng-if="!(item.limitFlow == null)" ng-bind="item.limitFlowNumber >= item.flowDataNumber ? '--' : item.flowDataNumber - item.limitFlowNumber + 'MB'"></span>
                                    <div class="vline right-vline"></div>
                                </div>
                            </td>
                            <td data-title="'操作'">
                                <div class="td right-border default" >
                                    <span class="desc-text" ng-click="flowInfo(item)">查看详情</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <p ng-class="{ true : 'recordsNumGtTen', false : 'recordsNumLeTen' }[tableParamsFlow.total() > tableParamsFlow.count()]" ng-bind="'当前' + tableParamsFlow.total() + '条'"></p>
                </div>
            </li>
            <!-- 流量监测结束 -->
        </ul>
    </div>
</div>
<div class="admin-list userList noResultContent" style="top: 80px;" ng-show="(tabNotice[0].active&&noResultContent1)||(tabNotice[1].active&&noResultContent2)">
    <div class="dialogNormal noResult">
        <div class="faceLogo">
            <img src="${base}/themes/default/images/secondConfirm.png" />
        </div>
        <div class="dialogContent">
            <p class="secondConfirm">啊呀，没有检索到任何内容……</p>
            <p class="fs14">
                <img src="${base}/themes/default/images/circleRight.png" />
                请更改条件后再次搜索或筛选
            </p>
        </div>
        <div class="clearfloat"></div>
    </div>
</div>
<div class="foot" ng-show="tabNotice[1].active && tableParamsFlow.total() > 0">
    <div class="infoImg">
        <img src="${base}/themes/default/images/people.png" />
    </div>
    <p class="personName" style="margin-bottom: 6px;" ng-bind="prevItemFlow.personName"></p>
    <p class="fcb" style="padding-bottom:10px" ng-bind="prevItemFlow.deptName"></p>
    <p class="deviceInfo"><span class="deviceInfoName">警号:&nbsp;&nbsp;&nbsp;&nbsp;</span><span ng-bind="prevItemFlow.personCode||'&#45;&#45;'"></span></p>
    <p class="deviceInfo"><span class="deviceInfoName">IMEI号:</span><span ng-bind="prevItemFlow.imei||'--'"></span></p>
</div>