<!--左侧搜索表单-->
<form class="role-frm">
	<a class="backToList" ng-click="goBack()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;返回列表</a>
    <div class="deviceTitle">编辑设备组</div>

    <hr class="hr-solid">
    <div>
        <img src="${base}/themes/default/images/circleRight.png" />
        <span class="fc6">
        	设置几个合适的设备组可以让你很方便的部署策略和管理。
        </span>
    </div>
</form>
<!--右侧-->
<div class="admin-list">
	<div class="pwdDiv" style="position: absolute; left: 280px; top: 0px; bottom: 80px; overflow: auto; right: 0px;">
		<form name="addFrm" method="post" novalidate="novalidate">
			<table class="modifyPsd" >
				<tr>
					<td>
						<p class="inputTitle">设备组名称</p>
						<div class="form-group" ng-class="{'has-success':addFrm.name.$valid, 'has-error':addFrm.name.$invalid && addFrm.name.$dirty}">
							<input ng-model="name" ng-blur="blurCheck(addFrm.name)" name="name" class="form-control psdInput" required type="text" maxLength="20" ng-pattern="/^[^+?%#&=￥$]+$/"  tooltip="不能为空且不能包含特殊字符" tooltip-placement="bottom" ng-keyup="checkName()" ng-class="{'borderRed':checkGroupName}"/>
						</div>
						<p class="fs12" style="color:red" ng-show="(addFrm.name.$invalid && addFrm.name.$dirty) || errorShow">{{addFrm.name.$error.required?'设备组名称必填' :( addFrm.name.$error.pattern?'设备组名称不能包含特殊字符':(checkGroupName?'设备组名称已存在,请重新输入！':''))}}</p>
					</td>
				</tr>
				<tr>
					<td>
						<p class="chooseDeviceTitle">选择设备</p>
						<div class="chooseDevice">
						<div class="leftChooseDiv">
				 			<input class="chooseSearchInput" type="text" placeholder="搜索姓名或警号" ng-keyup="myKeyup($event)" ng-model="personName"/> 
		 					<div class="chooseSearch curpos" ng-click="searchPerson()"></div>
							<div class="zTreeDemoBackground">
								<div class="tree-start"style="height:260px;">
									<div class="ztree">
										<div ivh-treeview="list"
							                 ivh-treeview-expand-to-depth="0"
							                 ivh-treeview-id-attribute="'id'"
							                 ivh-treeview-label-attribute="'name'"
							                 ivh-treeview-children-attribute="'children'"
							                 ivh-treeview-use-checkboxes="true"
							                 ivh-treeview-twistie-collapsed-tpl="'<span class=\'button level0 switch center_close\'></span>'"
							                 ivh-treeview-twistie-expanded-tpl="'<span class=\'button level0 switch center_open\'></span>'"
							                 ivh-treeview-twistie-leaf-tpl="'<span class=\'button level1 switch center_docu\'></span>'"
							                 ivh-treeview-on-cb-change="selectCallback(ivhNode, ivhIsSelected, ivhTree)"
							                 ivh-treeview-on-toggle="toggleCallback(ivhNode, ivhIsExpanded, ivhTree)">
							            </div>
									</div>
								</div>
							</div>
						</div>
							<div class="rightchooseDiv" style="">
								<div style="text-align:right;width:100%;">
									<input type="checkbox" ng-model="checkboxes.checked" id="checkAll" class="chk_1" ng-change="checkAll()" name="checkAll" autocomplete="off" style="vertical-align:bottom"/>
									<label style="display: none;" for="checkAll"></label>
									<label for="checkAll" class="desc-text" style="width: 80px;height: 24px;background-color: #FFFFFF;">全选</label>
								</div>
								<input type="hidden" name="deptmentId" id="deptmentId" >
								<div class="chooseTable" style="width: 100%;height: 200px;overflow: auto;" when-scrolled="groupPersonsMore()" >
				                    <div class="deviceList" ng-repeat="person in dataList track by $index" title="{{person.imei}}">
										<label for="{{person.imei}}" class="curpos phoneBg curBle" ng-class="{'active':person.selected}">
											<span>{{person.name}}</span>
										</label>
										<input type="checkbox" ng-change="toggleCheckPerson(person)" ng-model="person.selected" id="{{person.imei}}" class="chk_1">
										<label for="{{person.imei}}" ng-class="{'checkStyle':person.selected}"></label>
									</div>
								</div>
							</div>
							<div class="bottomChooseDiv">
								<div style="width:100%;">
									<p>
										<span class="float-left choosenSpan">已选</span>
										<span id="chooseNum" class="choosenSpan">（{{selectPerson.length}}）</span>
										<a class="cleanAllBtn" ng-click="deleteAllPerson(person)" style="cursor: pointer;float: right;">清除</a>
									</p>
									<div ng-repeat="person in selectPerson track by $index" title="{{person.imei}}" class="chooseElesDiv" style="float: left;">
										<div style="width: 50px" class="table-whitespace float-left">{{person.name}}</div>
										<a class="deleteLabel" ng-click="deletePerson(person)" style="cursor: pointer;"></a>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<p class="inputTitle">描述 <span class="fc9 fs12">(选填)</span> </p>
						<textarea name="note" style="height:130px;width:100%;" maxLength="100" ng-model="note" ></textarea>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div class="psdBtns">
	<button type="button" class="btn btn-gray" ng-click="goBack()">取消</button>
	<button type="button" class="btn btn-green" ng-click="saveGroup()">保存设备组</button>
</div>
<section ng-show="alert.msg" style="position: absolute; top: 20px; left: 600px; right: 600px; z-index: 9999;">
	<div class="alert ng-scope ng-isolate-scope alert-dismissable" ng-class="['alert-' + (alert.type || 'warning'), alert.closeable ? 'alert-dismissable' : null]" role="alert">
		<button ng-show="alert.closeable" type="button" class="close" ng-click="alert=null" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">×</span>
		</button>
		<div>
			<span class="ng-scope ng-binding" ng-bind="alert.msg"></span></div>
	</div>
</section>