<!--左侧搜索表单-->
<form class="role-frm">
	<a class="backToList" ng-click="goBack()"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;返回列表</a>
    <div class="deviceTitle">新建策略</div>

    <hr class="hr-solid">
    <div>
        <ul class="stgyAddList">
        	<li ng-repeat="addStep in addStepList" ng-class="'addstep'+addStep.id">
	        	<p>
	        		<img class="stepLine" src="${base}/themes/default/images/blue-line.png" ng-show="(addStep.active) && (addStep.lineShow)"/>
	        		<img class="stepLine" src="${base}/themes/default/images/gray-line.png" ng-show="(!addStep.active) && (addStep.lineShow)"/>
	        	</p>
        		<img ng-src="{{'${base}/themes/default/images/' + addStep.pic +'.png'}}" width="40px" ng-show="addStep.active"/>
        		<img ng-src="{{'${base}/themes/default/images/' + addStep.pic2 +'.png'}}" width="40px" ng-show="!addStep.active" />
        		<span style="margin-left: 10px" ng-class="{'fc9':!addStep.active}" ng-bind="addStep.name"></span>
        	</li>
        </ul>
    </div>
</form>
<!--右侧-->
<!--第一步-->
<div ng-show="firstStepShow">
	<div class="admin-list">
		<div class="handle-div" style="height: 100px;">
			<div class="groupLogo">
				<img src="${base}/themes/default/images/policy.png" width="50px" />
			</div>
			<p class="editGroupDevice strategyTitle" ng-bind="addStepList[0].name"></p>
			<p class="fc9" ng-bind = "addStepList[0].content"></p>
		</div>
		<div class="pwdDiv" style="position: absolute; left: 280px; top: 100px; bottom: 80px; overflow: auto; right: 0px;">
			<ul>
				<li class="strgFirstStep" ng-repeat="gradeChoose in gradeList" ng-click="firstStepClick(gradeChoose.itemCode)" ng-class="{'active':gradeChoose.itemCode == itemCode}" >
					<span ng-show="gradeChoose.itemCode == itemCode" class="glyphicon glyphicon-ok rightOk"></span>
					<img style="margin-bottom: 10px;" ng-src="{{'${base}/themes/default/images/' + gradePic[gradeChoose.itemCode] +'.png'}}" />
					<span class="editGroupDevice" style="margin-bottom: 10px;font-size:14px;"><span ng-bind="gradeChoose.itemName"></span></span>
					<p ng-bind="gradeChoose.note"></p>
				</li>
			</ul>
		</div>
	</div>
	<div class="psdBtns">
		<button type="button" class="btn btn-gray" ng-click="goBack()">取消</button>
		<button type="button" class="btn btn-disable rightGryArrow" ng-show = '!nextshow'>下一步</button>
		<button type="button" class="btn btn-green rightArrow" ng-show="nextshow" ng-click="stepTwo(itemCode)">下一步</button>
	</div>
</div>
<!--第二步-->
<div ng-show="secondStepShow">
	<div class="admin-list">
		<div class="handle-div" style="height: 100px;">
			<div class="groupLogo">
				<img src="${base}/themes/default/images/policy.png" width="50px" />
			</div>
			<p ng-if="itemCode=='loose'" class="editGroupDevice strategyTitle">配置丢失模式策略</p>
			<p ng-if="itemCode=='work'" class="editGroupDevice strategyTitle">配置执勤模式策略</p>
			<p class="fc9" ng-bind = "addStepList[1].content"></p>
		</div>
		<div class="pwdDiv" style="position: absolute; left: 280px; top: 100px; bottom: 80px; overflow: auto; right: 0px;padding:20px;">
			<p class="editGroupDevice" style="font-size: 14px;">模式策略基本信息</p>
			<form name="addFrm"  novalidate="novalidate">
				<p class="secondTitle">策略名称</p>
				<p class="h55" ng-class="{'has-success':addFrm.strategyName.$valid, 'has-error':addFrm.strategyName.$invalid && addFrm.strategyName.$dirty}">
					<input type="text" class="form-control w350" ng-model="styleStrategyItems.name" name="strategyName" required maxlength="15"
						placeholder="如:财务部日常策略" ng-pattern="/^[\u4E00-\u9FA5\uF900-\uFA2D]+$/" ng-keyup="checkDubStrName(styleStrategyItems.name)"
						tooltip="名称必须是1-15个汉字且不能重复"  tooltip-placement="bottom" ng-class="{'borderRed':checkStrategyName}"/>
						<span class="fs12 password" ng-show="errorShow">{{addFrm.strategyName.$error.required?'策略项必填' : (addFrm.strategyName.$error.maxlength?'策略项最大15位' :( addFrm.strategyName.$error.pattern?'名称必须是中文':(checkStrategyName?'该策略名称已被占用,请重新输入！':'')))}}</span>
				</p>
				<p class="secondTitle">备注<span class="fc9 fs12">（选填）</span></p>
				<p>
					<input type="text" class="form-control w350" ng-model="styleStrategyItems.note" maxlength="64" placeholder="如:这是一段关于'财务部日常策略'的备注" mdc-placeholder />
				</p>
			
				<p class="editGroupDevice fs14">配置上报周期</p>
				<p class="fc9" style="line-height: 30px;">请选择设备位置信息上报周期(最小时间为5分钟)</p>
				<div ng-show="itemCode=='work'">
					<select ng-model="styleStrategyItems.content.cycleTime" ng-change="cycleTimeSelect()">
						<option ng-model="styleStrategyItems.content.cycleTime"  value=300>5分钟</option>
						<option ng-model="styleStrategyItems.content.cycleTime"  value=600>10分钟</option>
						<option ng-model="styleStrategyItems.content.cycleTime" selected="true" value=1200>20分钟(推荐)</option>
						<option ng-model="styleStrategyItems.content.cycleTime" value=1800>30分钟</option>
						<option ng-model="styleStrategyItems.content.cycleTime" value=3600>1小时</option>
						<option ng-model="styleStrategyItems.content.cycleTime" value=0>自定义</option>
					</select>
					<span ng-show="styleStrategyItems.content.cycleTime==0">
						<input type="text" class="input-sm" tooltip="必须是整数且不能为空"
							   ng-model="selfStrategyTime.hour" ng-keyup="checkCycleTime('hour')" tooltip-placement="bottom">小时
						<input type="text" class="input-sm" tooltip="必须是整数且不能为空"
							   ng-model="selfStrategyTime.minites" ng-keyup="checkCycleTime('minites')" tooltip-placement="bottom">分钟
						<!--<input type="text" class="input-sm" tooltip="必须是整数且不能为空"
							   ng-model="selfStrategyTime.seconds" tooltip-placement="bottom">秒-->
					</span>
					<span class="fc9">({{flowILLustrate}})</span>
					<!--<span ng-show="styleStrategyItems.content.cycleTime<=1200||styleStrategyItems.content.otherTime<=1200">流量消耗高</span>
					<span ng-show="(styleStrategyItems.content.cycleTime<=1800&&styleStrategyItems.content.cycleTime>1200)
									||(styleStrategyItems.content.otherTime<=1800&&styleStrategyItems.content.otherTime>1200)">流量消耗普通</span>
					<span ng-show="styleStrategyItems.content.cycleTime>1800||styleStrategyItems.content.otherTime>1800">流量消耗少</span>-->
				</div>
				<div ng-show="itemCode=='loose'">
					<select ng-model="styleStrategyItems.content.cycleTime"  ng-change="cycleTimeSelect()">
						<!--<option ng-model="styleStrategyItems.content.cycleTime" value=60>1分钟</option>-->
						<option ng-model="styleStrategyItems.content.cycleTime"  value=300>5分钟</option>
						<option ng-model="styleStrategyItems.content.cycleTime" selected value=600>10分钟(推荐)</option>
						<option ng-model="styleStrategyItems.content.cycleTime" value=1200>20分钟</option>
						<option ng-model="styleStrategyItems.content.cycleTime" value=0>自定义</option>
					</select>
					<span ng-show="styleStrategyItems.content.cycleTime==0">
						<input type="text" class="input-sm" tooltip="必须是整数且不能为空"
							   ng-model="selfStrategyTime.hour" ng-keyup="checkCycleTime('hour')" tooltip-placement="bottom">小时
						<input type="text" class="input-sm" tooltip="必须是整数且不能为空"
							   ng-model="selfStrategyTime.minites" ng-keyup="checkCycleTime('minites')" tooltip-placement="bottom">分钟
						<!--<input type="text" class="input-sm" tooltip="必须是整数且不能为空"
							   ng-model="selfStrategyTime.seconds" tooltip-placement="bottom">秒-->
					</span>
					<span class="fc9">({{flowILLustrate}})</span>
				</div>
				<div ng-hide="itemCode=='loose'" style="margin-bottom: 20px">
					<form name="addDateTimeFrm" novalidate="novalidate">
						<p class="editGroupDevice" style="font-size: 14px;">配置执勤时间段</p>
						<p class="fc6" style="line-height: 30px;margin-bottom: 10px">连续执勤天数<span class="fc9">（{{workDateTime}}天）</span></p>
						<div class="input-group" style="float: left">
							<input id='startDate' type="text" placeholder="开始时间" name="startDate" ng-model="styleStrategyItems.content.startDate"
								ng-change="changeDate()" mydatepicker maxDate="{{styleStrategyItems.content.endDate}}" class="form-control"  style="border-radius: 3px;">
						</div>
						<div class="input-group" style="position: relative; left: 20px;">
							<input id='endDate' type="text" placeholder="结束时间" name="endDate" ng-model="styleStrategyItems.content.endDate"
								ng-change="changeDate()" mydatepicker minDate="{{styleStrategyItems.content.startDate}}" class="form-control" style="border-radius: 3px;">
						</div>

						<div class="clearfloat"></div>
						<p class="fc6" style="line-height: 30px;margin-top: 10px;margin-bottom: 10px;">每天执勤小时数<span class="fc9">（{{workDateTimeHour}}小时{{workDateTimeMiniute}}分钟）</span></p>
						<div class="input-group" style="float: left">
							<input id='perStartTime' type="text" placeholder="开始时间" name="perStartTime" ng-model="styleStrategyItems.content.perStartTime"
								ng-change="changeDate()" mytimepicker class="form-control" style="border-radius: 3px;" >
						</div>
						<div class="input-group" style="position: relative; left: 20px;">
							<input id="perEndTime" type="text" placeholder="结束时间" name="perEndTime" ng-model="styleStrategyItems.content.perEndTime"
							ng-change="changeDate()" mytimepicker class="form-control" style="border-radius: 3px;">
						</div>
						<p class="fs12" style="color: red" ng-show="firstErrorShow">{{errorNote}}</p>
					</form>
				</div>
			</form>
		</div>
	</div>
	<div class="psdBtns">
		<button type="button" class="btn btn-gray leftArrow" ng-click="upStepFirst()">上一步</button>
		<button ng-if="itemCode!='loose'" type="button" class="btn btn-disable rightGryArrow" ng-click="disableShow()"
				ng-show="!addFrm.strategyName.$valid||checkStrategyName||firstErrorShow||!threeNext">下一步</button>
		<button ng-if="itemCode!='loose'" type="button" class="btn btn-green rightArrow" ng-click="stepThree()"
				ng-show="addFrm.strategyName.$valid&&!checkStrategyName&&!firstErrorShow&&threeNext">下一步</button>
		<button ng-if="itemCode=='loose'" type="button" class="btn btn-disable rightGryArrow" ng-click="disableShow()"
				ng-show="!addFrm.strategyName.$valid||checkStrategyName||!threeNext">下一步</button>
		<button ng-if="itemCode=='loose'" type="button" class="btn btn-green rightArrow" ng-click="stepThree()"
				ng-show="addFrm.strategyName.$valid&&!checkStrategyName&&threeNext">下一步</button>
	</div>
</div>
<!--第三步-->
<div ng-show="thirdStepShow">
	<div class="admin-list">
		<div class="handle-div" style="height: 100px;">
			<div class="groupLogo">
				<img src="${base}/themes/default/images/policy.png" width="50px" />
			</div>
			<p class="editGroupDevice strategyTitle" ng-bind="addStepList[5].name"></p>
			<p class="fc9">
				将刚才配置的策略部署到不同的设备。
			</p>
		</div>
		<div class="pwdDiv" style="position: absolute; left: 280px; top: 100px; bottom: 80px; overflow: auto; right: 0px;">
			<p class="editGroupDevice" style="font-size:14px;margin-left:20px" >选择要部署设备的方式</p>
			<ul>
				<li class="strgFirstStep" ng-repeat="mapWay in mapList" ng-click="mapWapFn(mapWay.device)" ng-class="{'active':mapWay.device == device}" >
					<span ng-show="mapWay.device == device" class="glyphicon glyphicon-ok rightOk"></span>
					<img style="margin-bottom: 10px;" ng-src="{{'${base}/themes/default/images/'+mapWay.pic+'.png'}}"  />
					<span class="editGroupDevice" style="margin-bottom: 10px;font-size:14px;"><span ng-bind="mapWay.deviceTitle"></span></span>
					<p ng-bind="mapWay.content"></p>
				</li>
			</ul>
			<div class="mapDeviceDiv" ng-show="device == 'self'" style="margin-left: 20px;border-bottom: none">
				<span class="glyphicon glyphicon-triangle-top" style="position: relative; float: right;top: -35px;left: -140px;color: #ccc;font-size: 20px;"></span>
				<input type="radio" ng-click="groupCheck('group')" name="groupChecked" class="rdo_1" id="groupRadio"/>
				<label for="groupRadio"></label>
				<label for="groupRadio"  class="curpos">
					<span>部署到设备组</span>
				</label>
				<img src="${base}/themes/default/images/down.png" class="float-right curpos menuLogo" ng-click="groupshowMenu()" ng-show="!groupShow"/>
				<img src="${base}/themes/default/images/up.png"  class="float-right curpos menuLogo" ng-click="groupshowMenu()" ng-show="groupShow"/>
				<div class="mapDeviceGroup" ng-show="groupShow">
					<p>设备组({{selGroupListSize.length}}/{{groupSize}})</p>
					<div ng-repeat="group in groupList" class="float-left">
						<input type="checkbox" id="{{group.id}}" class="chk_1 titleChk" ng-model="group.selected" ng-change="selGroup(group.id)"/>
						<label for="{{group.id}}" ng-class="{'checkStyle':group.selected}"></label>
						<label for="{{group.id}}" class="curpos table-whitespace" style="width: 130px;" >
							<span ng-bind="group.name"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="mapDeviceDiv" ng-show="device == 'self'" style="margin-left: 20px">
				<input type="radio" ng-click="groupCheck('device')" name="groupChecked" class="rdo_1" id="deviceRadio"/>
				<label for="deviceRadio"></label>
				<label for="deviceRadio"  class="curpos">
					<span>部署到设备</span>
				</label>
				<img src="${base}/themes/default/images/down.png" class="float-right curpos menuLogo" style="margin-right: 20px;" ng-click="groupshowMenu2()" ng-show="!groupShow2" />
				<img src="${base}/themes/default/images/up.png" class="float-right curpos menuLogo" style="margin-right: 20px;" ng-click="groupshowMenu2()" ng-show="groupShow2"/>
				<div ng-show="groupShow2" class="modifyPsd" style="margin-top: 20px;">
					<div class="chooseDevice">
						<div class="leftChooseDiv">
				 			<input class="chooseSearchInput" type="text" placeholder="搜索人员" ng-keyup="myKeyup($event)" ng-model="personName"/> 
				 			<div class="chooseSearch curpos" ng-click="searchPerson()"></div>
							<div class="zTreeDemoBackground">
								<div class="tree-start" style="height:260px;">
							        <div class="ztree">
							            <div ivh-treeview="list"
							                 ivh-treeview-expand-to-depth="0"
							                 ivh-treeview-id-attribute="'id'"
							                 ivh-treeview-label-attribute="'name'"
							                 ivh-treeview-children-attribute="'children'"
							                 ivh-treeview-use-checkboxes="true"
							                 ivh-treeview-twistie-collapsed-tpl="'<span class=\'button level0 switch center_close\'></span>'"
							                 ivh-treeview-twistie-expanded-tpl="'<span class=\'button level0 switch center_open\'></span>'"
							                 ivh-treeview-twistie-leaf-tpl="'<span class=\'button level1 switch center_docu\'></span>'"
							                 ivh-treeview-on-cb-change="selectCallback(ivhNode, ivhIsSelected, ivhTree)"
											 ivh-treeview-on-toggle="toggleCallback(ivhNode, ivhIsExpanded, ivhTree)">
							            </div>
							        </div>
								</div>
							</div>
						</div>
						<div class="rightchooseDiv">
							<div style="text-align:right;width:100%;">
								<span class="fc9 tableTip">（提示：部署策略到设备时，不能选择已加入设备组中的设备）</span>
								<input type="checkbox" id="checkAll" class="chk_1 titleChk" ng-model="checkboxes.checked" ng-change="checkAll()" name="checkAll" autocomplete="off" style="vertical-align:bottom"/>
								<label for="checkAll" style="display: none"></label>
								<label for="checkAll"  class="desc-text" style="width: 80px;height: 24px;background-color: #FFFFFF;">全选</label>
							</div>
							<input type="hidden" name="deptmentId" id="deptmentId" >
							<div class="chooseTable" style="width: 100%;height: 200px;overflow: auto;" when-scrolled="loadMore()" >
							<div class="deviceList" ng-repeat="person in personList" title="{{person.imei}}">

							<label for="{{person.imei}}"  class="curpos phoneBg" ng-class="{'active':person.selected}">
								<span>{{person.name}}</span>
							</label>
							<input ng-if="person.isGroup!=1" type="checkbox" class="chk_1" id="{{person.imei}}" ng-change="toggleCheckPerson(person)" ng-model="person.selected">
							<label ng-if="person.isGroup!=1" for="{{person.imei}}" ng-class="{'checkStyle':person.selected}"></label>
						</div>
						
					</div>
							<div class="clearfloat"></div>
						</div>
						<div class="bottomChooseDiv">
							<div style="width:100%;">
								<p>
									<span class="float-left choosenSpan">已选</span>
									<span id="chooseNum" class="choosenSpan">（{{selectPerson.length}}）</span>
									<a class="cleanAllBtn" ng-click="deleteAllPerson(person)" style="cursor: pointer;float: right;">清除</a>
								</p>
								<div ng-repeat="person in selectPerson track by $index" title="{{person.imei}}" class="chooseElesDiv" style="float: left;">
									<div style="width: 50px" class="table-whitespace float-left">{{person.name}}</div>
									<a class="deleteLabel" ng-click="deletePerson(person)" style="cursor: pointer;"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="psdBtns">
		<button type="button" class="btn btn-gray leftArrow" ng-click="upSecondStep()">上一步</button>
		<button type="button" class="btn btn-disable" ng-show = '!nextshow2'>完成</button>
		<button type="button" class="btn btn-green" ng-show="nextshow2" ng-click="finish()">完成</button>
	</div>
</div>