<!-- 违规判定组合开始-->
<div class="form-group ptb">
	<form id="frm-balck-list" >
		<label class="control-label textr">黑名单名称</label>
		<input id="blacklistname" name="name" class="form-control ml30" reg="notempty" type="text" maxlength="20" placeholder="请输入黑名单名称..." />
	</form>
</div>
<form id="list_1">
<div class="mb15 ptb">
  	<div class="ponter ml50">
    	<input id="blackscreen1" type="checkbox" class="blackName"  name="gradeViolation" value="1" autocomplete="off"/>
 	 	<label for="blackscreen1">一级违规</label>
  	</div>
  	<div class="btn-check ml48"style="margin-top:-24px;"></div>
	<div class="chooseWay mt10 ml72">
		<label style="float:left;vertical-align:middle">触发次数：</label>
		<div style="margin-left:10px; float:left;">	
			<select id="gradeOne" class="bindSelect" name="gradeOne">
              	<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>     
            </select>
		</div>
  	</div>
</div>

<div class="mb15 ptb">
  	<div class="ponter ml50">
    	<input id="blackscreen2" type="checkbox" class="blackName"  name="gradeViolation" value="2" autocomplete="off"/>
 	 	<label for="blackscreen2">二级违规</label>
  	</div>
  	<div class="btn-check ml48"style="margin-top:-24px;"></div>
  	<div class="chooseWay mt10 ml72">
  		<label style="float:left;vertical-align:middle">触发次数：</label>
  		<div style="margin-left:10px; float:left;">	
			<select id="gradeTwo" class="bindSelect" name="gradeTwo">
              	<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>   
            </select>
		</div>
  	</div>
</div>
	<div class="mb15 ptb">
  	<div class="ponter ml50">
    	<input id="blackscreen3" type="checkbox" class="blackName"  name="gradeViolation" value="3" autocomplete="off"/>
 	 	<label for="blackscreen3">三级违规</label>
  	</div>
  	<div class="btn-check ml48"style="margin-top:-24px;"></div>
  	<div class="chooseWay mt10 ml72">
  		<label style="float:left;vertical-align:middle">触发次数：</label>
  		<div style="margin-left:10px; float:left;">	
			<select id="gradeThree" class="bindSelect" name="gradeThree">
              	<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>  
            </select>
		</div>
  		</div>
	</div>
</form>			 	
