html, body{
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}

body, div, span, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td {
	margin: 0;
	padding: 0;
}
.btn{
	padding: 8px 20px !important;
	height: 38px;
	margin-right: 10px;
	border-radius: 2px !important;
}
.btn-blue{
	background-color: #00AAFF;
	color: #EFFAFF !important;
}
.btn-blue:hover{
	background-color: #15B5FC;
}
.btn-blue-busy{
	background-color: #59A6E5;
	color: #EFFAFF !important;
}
.btn-blue-busy:hover{
	background-color: #67CFFD;
}

.btn-gray{
	background-color: #6B7B85;
	color: #EFF8FF !important;
}
.btn-gray:hover{
	background-color: #7A8A94;
}
.btn-gray-busy{
	background-color: #41708d;
	color: #EFF8FF !important;
}
.btn-gray-busy:hover{
	background-color: #6290B0;
}
.btn-green{
	background-color: #46C35E;
	color: #F3FFF5 !important;
}
.btn-green:hover{
	background-color: #5DCA72;
}
.btn-green-busy{
	background-color: #71BC90;
	color: #F3FFF5 !important;
}
.btn-green-busy:hover{
	background-color: #87D596;
}


.btn-red{
	background-color: #F9444A;
	color: #FFF0F1 !important;
}
.btn-red:hover{
	background-color: #FA6166;
}
.btn-red-busy{
	background-color: #E46D84;
	color: #FFF0F1 !important;
}
.btn-red-busy:hover{
	background-color: #FE979B;
}
.btn-disabled{
	background-color: #E8EDF1 !important;
	color: #A1A9B0 !important;
	background-image: url(../images/loaderBtn.gif);
}
.btn-disable{
	background-color: #E8EDF1 !important;
	color: #A1A9B0 !important;
	cursor: not-allowed;
}
.main-container{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.secondTitle{
	color: #666;
	line-height: 36px;
}
/*箭头向下三角形*/
.down-caret {
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-top: 6px dashed;
}

/*搜索输入框*/
.icon-search .input-group-addon {
	background-color: #fff;
	background-color: transparent;
	border-left: 0;
	cursor: pointer;
}

.icon-search .form-control {
	border-right: 0;
}

.role-list {
	list-style: none;
	padding-left: 25px;
	line-height: 14px;
	margin-top: 13px;
}
.role-list li{
	margin-top: 6px;
}

.hr-solid {
	height: 1px;
	border: none;
	border-top: 1px solid #ccc;
}

.role-frm {
	width: 280px;
	border-right: 1px solid #ccc;
	padding: 20px 20px 30px;
	/*background-color: #FDFDFD;*/
	background: url("../images/shuiyin.png") no-repeat bottom right #fdfdfd;
	float: left;
	height: 100%;
	overflow: auto;
}

.admin-list {
	margin-left: 280px;
	background-color: #F7F7F7;
}

/*<自定义表格样式>*/

.vtable-hover{
	background-color: #F7F7F7;
	margin-left: 1.5%;
	width: 97%;
}
.table{
	-webkit-text-shadow: 1px 0px 0px #ffffff, -1px 0 0 #ffffff,0 1px 0 #ffffff,0 -1px 0 #ffffff;
	-moz-text-shadow: 1px 0px 0px #ffffff, -1px 0 0 #ffffff,0 1px 0 #ffffff,0 -1px 0 #ffffff;
	-o-text-shadow: 1px 0px 0px #ffffff, -1px 0 0 #ffffff,0 1px 0 #ffffff,0 -1px 0 #ffffff;
	text-shadow: 1px 0px 0px #ffffff, -1px 0 0 #ffffff,0 1px 0 #ffffff,0 -1px 0 #ffffff;
}
/*覆盖默认bootstrap样式, 只会针对.vtable-hover的样式覆盖*/
.vtable-hover.table > thead > tr > th {
	border-bottom: 0px;
	position: relative;
}

.vtable-hover.table>tbody>tr>td, .vtable-hover.table>tfoot>tr>td, .vtable-hover.table>thead>tr>td {
	border-top: 0px;
	position: relative;
	height: 50px;
	cursor:default;
	padding: 0;/*覆盖默认*/
}

.vtable-hover .td, .vtable-hover .th {
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #B9B9B9;
	border-bottom: 1px solid #B9B9B9;
	margin-top: 10px;
	padding-left: 16px;
	position: relative;
}

/*<默认的灰色单元格样式>*/
.td.default, .th.default {
	background: -ms-linear-gradient(top, #f7f7f7, #efefef);
	background: -moz-linear-gradient(top, #f7f7f7, #efefef);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7), to(#efefef));

	-moz-box-shadow: 0px -1px 0px #fff inset, 0px 1px 0px #ffffff inset;
	-webkit-box-shadow: 0px -1px 0px #fff inset, 0px 1px 0px #ffffff inset;
	box-shadow: 0px -1px 0px #fff inset, 0px 1px 0px #ffffff inset;
}


.vtable-hover > tbody > tr:hover .default{
	background: #E5F3FB;
	border-top: 1px solid #70C0E7;
	border-bottom: 1px solid #70C0E7;
}

.vtable-hover > tbody > tr:hover .td.left-border {
	border-left: 1px solid #70C0E7;
}

.vtable-hover > tbody > tr:hover .td.right-border {
	border-right: 1px solid #70C0E7;
}

.vtable-hover > tbody > tr:active .default{
	background: #B8E0F3;
	border-top: 1px solid #26A0DA;
	border-bottom: 1px solid #26A0DA;
}

.vtable-hover > tbody > tr:active .td.left-border {
	border-left: 1px solid #26A0DA;
}

.vtable-hover > tbody > tr:active .td.right-border {
	border-right: 1px solid #26A0DA;
}

.vtable-hover .visited .td{
	background: #D1E8FF;
	border-top: 1px solid #66A7E8;
	border-bottom: 1px solid #66A7E8;
}

.vtable-hover .visited .td.left-border {
	border-left: 1px solid #66A7E8;
}

.vtable-hover .visited .td.right-border {
	border-right: 1px solid #66A7E8;
}

/*</默认的灰色单元格样式>*/

.td.left-border {
	border-left: 1px solid #B9B9B9;
	border-radius: 3px 0 0 3px;
}

.td.right-border {
	border-right: 1px solid #B9B9B9;
	border-radius: 0 3px 3px 0;
}
/*</自定义表格样式>*/


/*垂直线, 默认是左垂直线, 右垂直线需要配合.left-vline*/
.vline {
	width: 0;
	border-left: 1px dotted #2d2d2d;
	top:9px;
	bottom: 9px;
	position: absolute;
	background-color: transparent;
}

/*右垂直线*/
.right-vline {
	right: 0;
}

.checkbox-valign{
	height: 20px;
	position: absolute;
	top:27%;
	margin-top: -10px;
	padding-left: 7px;
}

.desc-text{
	color: #3F7ED2;
	cursor:pointer;
}

.desc-text:hover{
	color: #70C3B5;
}
.ng-table th{
	text-align: left !important;
	padding-left: 17px !important;
	color: #999999;
	padding-top: 17px !important;
	padding-bottom: 0px !important;
}
.ng-table-pager{
	text-align: right;
	padding-right: 1.5%;
}
/*首页样式*/
body{
	margin: 0px;
}
.index-menu{
	list-style: none;
	background: url("../images/logoBg.png") no-repeat center;
	height: 70px;
	line-height: 70px;
	font-size: 18px;
	color: #f6f6f6;
	margin: 0px;
	border-bottom: 1px solid #0f7bb6;
}
.index-menu li{
	cursor: pointer;
	float: left;
	width: 120px;
	height: 70px;
	text-align: center;
	background: transparent;
	-webkit-text-shadow: 1px 0px 0px #2a91bd, -1px 0 0 #2a91bd,0 1px 0 #2a91bd,0 -1px 0 #2a91bd;
	-moz-text-shadow: 1px 0px 0px #2a91bd, -1px 0 0 #2a91bd,0 1px 0 #2a91bd,0 -1px 0 #2a91bd;
	-o-text-shadow: 1px 0px 0px #2a91bd, -1px 0 0 #2a91bd,0 1px 0 #2a91bd0 -1px 0 #2a91bd;
	text-shadow: 1px 0px 0px #2a91bd, -1px 0 0 #2a91bd,0 1px 0 #2a91bd,0 -1px 0 #2a91bd;
}
.index-menu>li:hover{
	color: #FEF851;
}
.second-menu li{
	text-shadow: none;
	cursor: pointer;
	float: left;
	width: auto;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background: transparent;
}
.selected {
	background: chartreuse;
	color: #FEF851;

}
.arrowUp{
	margin-top: -7px;
	margin-left: 55px;
	width: 0px;
	height: 0px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #f7f7f7;
}
.arrowUp-gray{
	margin-top: -7px;
	margin-left: 30px;
	width: 0px;
	height: 0px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #dcdcdc;
}
.second-menu{
	background-color: #f7f7f7;
	color: #666;
	list-style: none;
	height: 50px;
	border-bottom: 1px solid #ddd;
	line-height: 50px;
	padding-left: 280px;
	margin-top: 0px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	right: 0px;
}
.second-menu > li{
	float: left;
	font-size: 16px;
	line-height: 50px !important;
}
.logoPic{
	float: left;
	margin: 16px 0px 16px 20px;
	width: 455px;
}
.handle-div{
	background-color: #f1f6f7;
	padding:20px;
	border-bottom: 1px solid #dddddd;
}
.endTime{
	margin-top: 10px;
}
.modifyPsd{
	width: 500px;
	margin: 0px 20px;
}
.pwdDiv{
	padding-top: 20px;
}
.psdInput{
	width: 300px;
	margin: 10px 0px;
}
.psdBtns{
	text-align: left;
	left: 280px !important;
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: 20px;
	background-color: #fff;
	border-top: 1px solid #DADADA;
}
/*弹框*/
.modal-header{
	background-color: #ebf0f1;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.dialogNormal{
	width: 100%;
}
.addTableTd{
	width: 50%;
	padding: 0px 20px 20px;
}
.inputTitle{
	color: #666 !important;
	margin-bottom: 6px;
}
.fc9{
	color:#999;
}
.roleChoose{
	height: 147px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	padding: 10px;
	color: #666;
}
.deptarea{
	line-height: 19px;
}
.pt0{
	padding-top: 0px;
}
.roleChoose table{
	width: 100%;
}
.roleChoose hr{
	margin: 10px 0px;
}
.faceLogo{
	float: left;
	width: 200px;
	text-align: center;
	margin-top: 20px;
}
.dialogContent{
	float: left;
	font-size: 16px;
	color: #666;
	margin-top: 15px;
}
.successTip{
	font-size: 18px;
	font-weight: bold;
	color: #26AD41;
	margin-bottom: 20px;
}
.confirmTip{
	font-size: 20px;
	font-weight: bold;
	color: #e39e31;
}
.btn-sm{
	border: none;
	padding: 1px 8px !important;
}
.modal-header .close{
	margin-top: -23px;
	width: 20px;
	height: 20px;
	background: url("../images/closed.png") no-repeat center;
}
.modal-header .close:hover{
	background: url("../images/activeClosed.png") no-repeat center;
}
/*退出系统按钮*/
.exitSys{
	float: right;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	top: 18px;
	right: 20px;
	z-index: 99;
	text-align: center;
	width: 160px;
}
.adminLink{
	color: #e3fdff !important;
	text-align: center;
	padding: 6px 10px !important;
	margin: 0px 20px !important;
}
.adminLink:hover{
	color: #feffff !important;
	text-decoration: none;
	background-color: #1e9cad;
	border-radius: 4px;
}
.exitList{
	position: relative;
	top: 10px;
	padding:  6px !important;
	background-color: #2d4854;
	border-radius: 4px;
}
.exitList li{
	list-style: none;
}
.exitList li a{
	line-height: 40px;
	cursor: pointer;
	padding: 6px 6px !important;
	color: #86a0ad !important;
	border-radius: 2px;
}
.exitList li a:hover{
	color: #ffffff !important;
	background-color: #2cb8c2;
	text-decoration: none;
}
.lockDiv{
	height: 13px;
	padding-left: 20px;
	background: url(../images/custom-lock.png) no-repeat center;
}
.quitDiv{
	height: 13px;
	padding-left: 20px;
	background: url(../images/custom-quit.png) no-repeat center;
}
.exitList li a:hover>.lockDiv{
	background: url(../images/active-lock.png) no-repeat center;
}
.exitList li a:hover>.quitDiv{
	background: url(../images/active-quit.png) no-repeat center;
}
.authChoose{
	height: 147px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	padding: 10px;
	color: #666;
	overflow: auto;
}
.modifyPsdDiv{
	height: 90%;
	border-bottom: 1px solid #DADADA;
}
.w350{
	width: 350px !important;
}
.w500{
	width: 500px !important;
}
.w700{
	width: 700px;
}
.deviceTitle{
	font-size: 18px;
	color: #333;
	line-height: 18px;
}
.fc6{
	color: #666;
}
.groupLogo{
	width: 60px;
	height: 60px;
	float: left;
	overflow: hidden;
	margin-right: 20px;
}
.editGroupDevice{
	color: #333;
	font-weight: bold;
	font-size: 16px;
	line-height: 36px;
	margin-top: 10px;
}
.chooseDevice{
	height: 475px;
	width: 770px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	background-color: #fff;
}
.chooseDeviceTitle{
	margin-top: 20px;
	margin-bottom: 10px;
}
.leftChooseDiv{
	width: 260px;
	float: left;
}
.chooseSearchInput{
	width: 240px;
	height: 26px;
	margin: 10px 0px -15px 20px;
	border-radius: 3px;
	padding-left: 7px;
	border: 1px solid #cccccc;
}
.chooseSearch{
	position: relative;
	left: 238px;
	top: -5px;
	width: 20px;
	height: 20px;
	background: url("../images/SEARCH.PNG") no-repeat center;
}
.chooseSearch:hover{
	background: url("../images/searchColor.png") no-repeat center;
}
.zTreeDemoBackground{
	height:265px;
	width:260px;
	border-top:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	margin-top: 10px;
	background-color: #f8f8f8;
}
.rightchooseDiv{
	float: right;
	width: 505px;
	height: 310px;
	padding: 15px;
}
.chooseTable{
	width: 100%;
	margin: 10px 0px;
}
.chooseElesDiv{
	width: 80px;
	height: 24px;
	background: #efefef;
	margin: 10px 10px 0px 0px;
	border: 1px solid #d7d7d7;
	border-radius: 2px;
	font-size: 12px !important;
	padding: 3px 8px;
}
.deleteLabel:after{
	float: right;
	font-size: 10px;
	color: #666;
	content: '\2715';
}
.cleanAllBtn{
	float: right;
}
.bottomChooseDiv{
	float: left;
	width: 100%;
	border-top: 1px solid #ccc;
	padding: 10px 20px;
	height: 157px;
	overflow-y: auto;
}
.describeTextarea{
	margin-bottom: 20px;
}
.leftDeptTree{
	width: 500px;
	height: 500px;
	margin-bottom: 10px;
	margin-top: 25px;
	margin-left: 20px;
	float: left;
}
.input-default{
	height: 34px;
}
/* 通知管理*/
.font-666{
	color: #666666;
	font-size:14px;
}

.tz-right-content{
	padding-top: 30px;
}

.nav-tabs > li > a {
	border-color: #ddd #ddd transparent;
	cursor: pointer;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	background-color: #F7F7F7;
}

.tz-tab-left{
	padding-left: 25px;
	background-color: inherit
}

.tz-tab{
	padding-left: 10px;
	border:1px;
}

.tz-content-left{
	float: left;
	width: 436px;
	margin-left: 25px;
	margin-top: 20px;
	height: 440px;
}

.tz-content-right{
	float: left;
	width: 350px;
	padding-left: 25px;
	padding-top: 20px;
	height: 440px;
}
.absoluteDiv{
	padding-top: 30px;
	position: absolute;
	top: 0px;
	bottom: 100px;
	right: 0px;
	overflow: auto;
	left: 280px;
}
.tz-reciver-content{
	width: 100%;
	min-height: 38px;
	max-height: 62px;
	background-color: #fff;
	margin:7px 0 0px 0;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-top: 5px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 4px;
	border: 1px solid #dddddd;
	overflow-y: auto;
}

.tz-reciver-person{
	background-color: #ededed;
	border: 1px solid #dddddd;
	border-radius: 2px;
	float: left;
	height: 100%;
	margin-bottom: 3px;
	margin-right: 2px;
	width: 100px;
	padding-bottom: 2px;
}

.tz-reciver-person img{
	margin-top: 2px;
	margin-left: 5px;
	margin-right:5px;
}

.tz-reciver-person button{
	margin-top: 2px;
	font-size: 14px;
}

.tz-reciver-person .p-name{
	float:left;
	max-width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tz-msg-content{
	width: 100%;
	height: 326px;
	background-color: #fff;
	margin:7px 0 0 0;
	padding: 5px 10px 5px 10px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 4px;
	border: 1px solid #dddddd;

}

.tz-msg-content .tz-title{
	width:90%;
	height: 30px;
	margin:20px 0 0 15px;
	border: 0px;
	font-size: 16px;
}

.tz-msg-content .form-control{
	border: 0px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset;
}


.tz-add-person{
	width: 350px;
	height: 405px;
	background-color: #fff;
	margin-top: -1px;
	padding: 15px 25px 15px 25px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 4px;
	border: 1px solid #dddddd;

}

.tz-add-person-list{
	margin-top: 15px;
	height: 300px;
	overflow-y: auto;
}

.tz-add-person-list ul{
	list-style: outside none none;
}

.tz-add-person-list ul li{
	margin-bottom: 15px;
}

.tz-add-person-list ul li img{
	margin-left: 5px;
	margin-right: 5px;
}

.tz-person-code{
	color: #999999;
	font-size: 12px;
}

.tz-msg-history{
	position: absolute;
	top: 70px;
	left: 280px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	padding: 20px;
}

.tz-msg-history ul{
	list-style: outside none none;
}

.tz-msg-history .li-content{
	width: 800px !important;
	float: left;
}

.tz-msg-history .date-left{
	float: left;
	width: 100px;
}

.tz-msg-history .msg-right{
	float: left;
	padding-top:20px;
	width:700px;
}

.tz-msg-history .msg-right p{
	margin-top: 5px;
}

.tz-msg-history .msg-right a{
	margin-left: 10px;
}

.tz-foot-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: white;
	border-top: 1px solid #fdfdfd;
}

.tz-foot-bar button{
	margin-top: 25px;
	margin-left: 25px;
}
.backToList{
	position: absolute;
	top: -34px;
	cursor: pointer;
}
.backToList:hover{
	text-decoration: none;
}
.foot{
	height: 150px;
	border-top: 1px solid #DADADA;
	position: fixed;
	bottom: 0px;
	left: 280px;
	right: 0px;
	padding: 20px 100px;
	background-color: #fff;
}
.infoImg{
	float: left;
	overflow: hidden;
	margin-right: 20px;
	width: 100px;
	height: 120px;
}
.personName{
	font-size: 16px;
	color: #1E395B;
	line-height: 14px;
}
.fcb{
	color: #1E395B;
}
.deviceInfo{
	font-size: 12px;
	color: #5A6779 !important;
	line-height: 18px;
}
.deviceInfoName{
	margin-right: 20px;
	width: 50px;
}
.userList{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 150px;
	overflow: auto;
	right: 0px;
}
.recordsNumGtTen{
	margin-top: -55px;
	margin-left: 23px;
}
.conrolImg{
	width: 150px;
	height: 150px;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	cursor: pointer;
}
.conrolImg:hover{
	background-color: #E3E3E3;
}
.controlTitle{
	font-weight: bold;
	margin-top: 10px;
}
.tz-content{
	float: left;
	padding: 20px;
}
.deviceInfo-right{
	margin-top: 60px;
	color: #666;
	margin-bottom: 30px;
}
.deviceLine{
	width: 280px;
	margin: -10px 0px 0px 0px;
	float: right;
	border-top: 1px solid #B574CE;
}
.stausLine{
	color: #B574CE;
	margin-top: 10px;
}
.deviceInfoTable{
	margin-top: 2px;
	line-height: 22px;
}
.pwdInput{
	border: none;
}
.pwdInput[disabled]{
	background-color: #fff;
}
.password{
	color: red;
}
.activeApp{
	border: 1px solid #CCCCCC;
	width: 300px;
	height: 140px;
	background-color: #FFF;
	padding: 20px;
	margin: 10px 30px 30px 0px;
	float: left;
	border-radius: 3px;
}
.leftLogoApp{
	width: 90px;
	height: 90px;
	padding:15px;
	float: left;
	background-color: #f5f5f5;
	border-radius: 4px;
	margin-right: 20px;
}
.eyesDiv{
	width: 22px;
	height: 11px;
	margin-top: 5px;
	float: right;
	margin-right: 30px;
	cursor: pointer;
	background: url(../images/open-eye.png) no-repeat center;
}
.eyesDiv:hover{
	background: url(../images/open-eye-float.png) no-repeat center;
}
.eyesCloseDiv{
	width: 22px;
	height: 11px;
	margin-top: 5px;
	float: right;
	margin-right: 30px;
	cursor: pointer;
	background: url(../images/close-eye.png) no-repeat center;
}
.eyesCloseDiv:hover{
	background:  url(../images/close-eye-float.png) no-repeat center;
}
.fcgreen{
	color: #46C35E;
}
.fcred{
	color:#c54367;
}
.picDiv{
	width: 255px;
	height: 135px;
	padding: 20px;
	border: 1px solid #ccc;
	background-color: #fff;
	margin-left: 100px;
}
.titlePic{
	width: 80px;
}
.rightBtn{
	margin-left: 3px;
	margin-top: 50px;
}
.mapDiv{
	width: 290px;
	height: 190px;
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 5px;
	margin-left: 100px;
}
.recordsNumLeTen{
	margin-top: 0px;
	margin-left: 20px;
}
.flowZtree{
	position: absolute;
	top: 195px;
	height: 230px;
	overflow: auto;
	z-index: 4;
	left: 20px;
	width: 228px;
}
.leftsearch{
	width: 228px;
	margin-bottom: -10px;
}
.ztreeDiv{
	width: 228px !important;
}
/*.leftTree{
	width: 190px !important;
}*/
.alertTip{
	position: absolute;
	top: 20px;
	left: 33%;
	z-index: 9999;
}
.bigPic{
	position: relative;
	left: 100px;
	top: -200px;
	z-index: 999;
	border: 5px solid #2CB8C2;
	width: 310px;
}
.trglLeft{
	position: relative;
	top: 150px;
	left: -20px;
	font-size: 20px !important;
	color: #2CB8C2;
}
.curpos{
	cursor: pointer !important;
}
.stgyAddList li{
	list-style: none;
	font-weight: bold;
}
.strgFirstStep{
	width: 300px;
	height: 185px;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	float: left;
	list-style: none;
	padding: 20px;
	margin: 20px;
	background: #FFFFFF;
}
.strgFirstStep:hover{
	background-color: #CCEBFF;
	cursor: pointer;
}
.personListTable{
	width:80px;
	height:50px;
	border:1px solid #ccc;
}
.personListTable:hover{
	background:#1caf9a;
}
.thirdStepTable td{
	padding:5px 20px;
}
.applimit{
	width: 800px;
	height: 609px;
	border: 1px solid #ccc;
	background-color: #FFFFFF;
}
.leftAppLimit,.rightAppLimit{
	width: 50%;
	float: left;
	padding: 0px 20px;
}
.limitAppDiv{
	width: 100%;
	border: 1px solid #ccc;
	height: 515px;
	overflow: auto;
}
.limitAppList{
	list-style: none;
	border-bottom: 1px solid #ccc;
	margin: 10px;
	padding-bottom: 10px;
}
.limitAppList:hover .appName, .limitListActive .appName{
	color: #00AAFF !important;
}
.appLogo{
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 20px;
}
.clearfloat{
	clear: both;
}
.mgeLimit{
	margin: 20px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	list-style: none;
}
.float-left{
	float:left
}
.float-right{
	float: right;
}
.limitlist{
	list-style: none;
	border-bottom: 1px solid #ccc;
	margin: 10px;
	font-size: 12px !important;
	line-height: 22px ;
}
.rightOk{
	float: right;
	font-size: 20px;
	color: #46C35F;
}
.strgFirstStep.active{
	background:#CCEBFF;
}
.illegalList{
	list-style: none;
}
.mapDeviceDiv{
	float: left;
	width: 980px;
	border: 1px solid #ccc;
	/*margin-left: 20px;*/
	padding: 20px;
	background-color: #FDFDFD;
}
.menuLogo{
	font-size: 20px;
	cursor:pointer;
}
.mapDeviceGroup{
	width: 100%;
	height: 100px;
	overflow: auto;
	line-height: 30px;
	padding-left: 24px;
}
.groupList{
	width: 150px;
	height: 30px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.deviceList{
	width: 150px;
	height: 50px;
	float: left;
	padding: 10px;
	font-size: 12px !important;
	border: 1px solid #fff;
}
.deviceList:hover{
	border: 1px solid #ABCBE4;
	border-radius: 3px;
	background: #C4DFF2;
}
.recommend{
	background-color: #f0f0f0;
	position: relative;
	right: 0px;
}
.moreSys{
	position: relative;
	z-index: 20;
	font-size: 12px;
	line-height: 24px;
	left: 120px;
	top: -10px;
	background-color: #fff;
	border: 1px solid #ccc;
	width: 130px;
	text-align: center;
	border-radius: 2px;
	padding: 6px 0px;
}
.sysList{
	list-style: none;
	text-shadow: none;
}
.showMore:hover{
	text-decoration: none;
}
.sysList:hover{
	background: #3F7ED2;
	color: #fff;
}
.stepLine{
	margin-left: 17px;
}
.alert-success{
	background-color: #21A687 !important;
	color: #fff !important;
}
.alert-warning{
	background-color: #F49B27 !important;
	color: #fff !important;
}
.close{
	opacity:1;
}
.w300{
	width: 300px;
}
/*首页*/
.homeIndexBg{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #ebeff2;
	padding: 20px 120px;
	overflow: auto;
}
.titleDiv{
	height: 160px;
	width: 24%;
	float: left;
	border-radius: 3px;
}
.firstTileDiv{
	background-color: #29b6f6;
	margin-right: 13px;
}
.titleDiv:hover{
	box-shadow: 0px 1px 3px  #999;
	cursor: pointer;
}
.secondTileDiv{
	background-color: #f19b5c;
	margin-right: 13px;
}
.thirdTileDiv{
	background-color: #a881ea;
	margin-right: 14px;
}
.fourthTileDiv{
	background-color: #6e8cd7;
	margin-right: 0px;
}
.leftTotalLogo{
	top: 35px;
	left: 20px;
	position: relative;
	z-index: 1;
}
.rightTopLogo{
	float: right;
	bottom: 0px;
	height: 80px;
	top: 78px;
	position: relative;
	z-index: 1;
}
.leftTotalWord{
	margin-top: 40px;
	margin-left: 20px;
	color: #fff;
	font-size: 12px;
}
.rightTopDiv{
	float: right;
	position: relative;
	z-index: 2;
	text-align: right;
	width: 100%;
	top: -85px;
	padding-right: 20px;
}
.rightTopNum{
	font-size: 24px;
	color: #fff;
	font-weight: bold;
}
.rightTopWord{
	font-size: 14px;
	color: #fff;
}
.leftMapDiv{
	width: 60%;
	height: 430px;
	border: 1px solid #dee4e9;
	margin-top: 20px;
	float: left;
	background-color: #fff;
}
.rightAppDiv{
	width: 38%;
	height: 430px;
	border: 1px solid #dee4e9;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	background-color: #fff;
}
.leftMap{
	border: 4px solid #ebeff2;
	/* 	margin-top: 20px; */
	/* 	border-radius: 4px; */
	/* 	margin-left: 2%; */
	/*width: 96%;*/
	height: 394px;
	/* 	background: url(../images/map.png) no-repeat right; */
	/* 	float: left; */
}
.rightList{
	width: 34%;
	height: 395px;
	padding: 20px 10px;
	float: left;
}
.leftChartDiv{
	width: 38%;
	height: 430px;
	border: 1px solid #dee4e9;
	margin-top: 20px;
	float: left;
	margin-bottom: 20px;
	background-color: #fff;
}
.rightTableDiv{
	width: 60%;
	height: 430px;
	border: 1px solid #dee4e9;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	margin-bottom: 20px;
	background-color: #fff;
}
.headTitle{
	height: 35px;
	border-bottom: 1px solid #ececec;
	background-color: #f5f7fa;
	width: 100%;
	line-height: 35px;
	padding: 0px 10px;
}
.float-right a{
	color: #32a3e2;
	cursor: pointer;
}
.float-right a:hover{
	text-decoration: none;
}
.imporWord{
	font-weight: bold;
}
.sumInfo{
	margin: 20px 0px;
	color: #666;
}
.progressLi{
	list-style: none;
}
.applist{

}
.appInfoLi{
	list-style: none;
}
.homeAppLogo{
	float: left;
	width: 50px;
	margin-right: 20px;
}
.appNum{
	float: left;
	margin: 10px;
	padding: 5px;
	line-height: 10px;
	color: #fff;
	border-radius: 4px;
}
.homeTable{
	width: 100%;
	line-height: 38px;
	color: #666;
}
.homeTable thead{
	background-color: #f4f4f4;
	border-bottom: 2px solid #eeeeee;
	font-weight: bold;
}
.homeTable tr{
	border-bottom: 1px solid #eeeeee;
}
.homeTable tr:hover{
	background-color: #f4f4f4;
}
.bottomTableDiv{
	margin: 20px;
}
.bottomTableMore{
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.bottomTableMore a{
	color: #00AAFF !important;
}
.gradeSpan{
	padding: 0px 8px;
	border-radius: 15px;
	color: #fff;
	text-shadow: none;
	font-size: 12px;
}
.spanBg1{
	background-color: #e54e52;
}
.spanBg2{
	background-color: #a881ea;
}
.spanBg3{
	background-color: #ef853b;
}
.inputAddCon{
	font-size: 12px;
	color: #999;
	padding-left:10px;
}
.homeSearch{
	width: 300px;
	margin:20px;
	position:relative;
	top: -393px;
	left: 60px;
}
.BMapLabel{
	max-width:none !important;
}
.fs12{
	font-size: 12px;
}
.fs14{
	font-size: 14px;
}
.adminRole{
	width: 650px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 10px;
}
.roleCheck{
	width: 157px;
	float: left;
	line-height: 34px;
	color: #666666;
}
.h100{
	height: 85px !important;
	line-height: 80px !important;
}
.leftPicCircle{
	background-color: #cccccc;
	width: 90px !important;
	height: 90px;
	padding: 15px;
	margin-right: 10px;
	border-radius: 45px;
}
.trGray{
	color: #999999 !important;
	cursor:pointer;
}
.tableTitle{
	height:55px;
	line-height: 55px;
	background-color: #f5f8fa;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #ececec;
}
.whiteSpace{
	width: 150px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table-whitespace{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.role-fc6{
	width: 800px;
	color: #666;
}
.role-show{
	width: 156px;
}
:-ms-input-placeholder{
	color: #999 !important;
}
.locateMap{
	position: absolute;
	top: 0px;
	left:280px;
	right: 0px;
	bottom:0px;
}
.groupListSpan{
	padding-left: 20px;
	background: url("../images/gray-group.png") no-repeat left;
}
.groupListSpan:hover,
.groupListSpan:active{
	color: #00AAFF;
	background: url("../images/active-group.png") no-repeat left;
}
.userNum{
	float: left;
	color: #FFFFFF;
	width: 20px !important;
	height: 20px;
	border-radius: 10px;
	background-color: #FD5856;
	text-align: center;
}
.borderRed{
	border: 1px solid red !important;
}
.listNum{
	font-size: 20px;
	padding-right: 8px;
	line-height: 14px;
}
.liTitle{
	margin-left: 5px;
	font-weight: bold;
	line-height: 14px;
	margin-bottom: 8px;
}
.addStrategy{
	position: absolute;
	left: 280px;
	top: 100px;
	bottom: 80px;
	overflow: auto;
	right: 0px;
	background-color: #f7f7f7;
	padding-left: 20px;
}
.strategyTitle{
	margin-top: 0px;
	margin-bottom: 0px;
}
.form-control{
	font-size: 12px !important;
}
.tableTip{
	color: #e39e31;
	font-size: 12px;
}
.tooltip-inner{
	background-color: #F29925 !important;
}
[tooltip-placement="bottom"]+.tooltip > .tooltip-arrow{
	border-bottom-color: #F29925 !important;
}
/*
单选复选框按钮的样式*/
/*.chk_1,.rdo_1{
	opacity: 0;
}*/
.chk_1 + label {
	margin-bottom: 4px;
	background-color: #FFF;
	border: 1px solid #C1CACA;
	padding: 7px;
	border-radius: 3px;
	vertical-align: middle;
	position: relative;
}
.rdo_1~label,
.chk_1~label{
	 position: relative;
	 left: -18px;
 }
.chk_1:checked + label {
	background-color: #1caf9a;
	border: 1px solid #1caf9a;
	color: #fff;
}
.table_chk:checked+label:after{
	top: -1px !important;
	text-shadow: none;
}
.strgChk:checked+label:after{
	top: 0px !important;
}
.titleChk:checked+label:after{
	top: -2px !important;
	text-shadow: none;
}
.userCheck .checkStyle:after,
.userCheck:checked+label:after{
	top: -10px !important;
}
.checkStyle{
	width:14px;
	height: 14px;
	border: 1px solid #1caf9a !important;
	background-color: #1caf9a !important;
}
.checkStyle:after{
	content: '\2713';
	color: #fff;
	width: 100%;
	height: 100%;
	left: -1px;
	position: absolute;
	text-align: center;
	top: 0;
}
.chk_1:checked + label:after {
	content: '\2713';
	position: absolute;
	top: 0px;
	left: -1px;
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 0.9em;
	padding: 0;
	vertical-align: text-top;
}
.rdo_1 + label {
	background-color: #FFF;
	margin-bottom: -1px;
	border: 1px solid #C1CACA;
	padding: 7px;
	border-radius: 7px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.rdo_1:checked + label {
	background-color: #fff;
	border: 1px solid #1caf9a;
	color: #fff;
}

.rdo_1:checked + label:after {
	content: '\2022';
	position: absolute;
	top: -1px;
	left: 0px;
	color: #1caf9a;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	padding: 0;
	vertical-align: text-top;
}
.table_rdo:checked + label:after {
	top:0px !important;
}
.form-search{
	position: relative;
	top: -14px;
	left: 205px;
	color: #999;
	cursor: pointer
}
.appName{
	font-size: 16px;
	position: relative;
	top: 15px;
}
.modal-dialog{
	align-items: center !important;
	display: flex !important;
	justify-content: center !important;
}
label{
	font-weight: normal !important;
	margin-bottom: 0px;
	line-height: 14px;
	cursor: pointer;
}
label[class='curpos']{
	margin-left: 4px;
}
.phoneBg{
	padding-left: 20px;
	background: url("../images/phoneGray.PNG") left no-repeat;
	height: 34px;
	padding-top: 10px;
	max-width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.phoneBg.active{
	background: url("../images/phoneBlue.png") left no-repeat;
}
.curBle:hover{
	background: url("../images/phoneBlue.png") left no-repeat;
}

.glyphicon-triangle-bottom,
.glyphicon-triangle-right{
	font-size: 12px;
}
/*ie11去掉输入框后边的叉号*/
input::-ms-clear{
	display: none;
}
.rightArrow{
	width: 100px;
	padding-left: 5px !important;
	background: url("../images/rightArrow.png") 65px 13px no-repeat #00B83F;
}
.leftArrow{
	width: 100px;
	padding-left: 35px !important;
	background: url("../images/leftArrow.png") 18px 13px no-repeat #6B7B85;
}
.rightGryArrow{
	width: 100px;
	padding-left: 5px !important;
	background: url("../images/rightGryArrow.png") 65px 13px no-repeat #E8EDF1;
}
.choosenSpan{
	font-size: 12px;
	font-weight: bold;
	color: #333;
}
.h300{
	height: 300px;
}
.ml10{
	margin-left: 10px;
}
.mt10{
	margin-top: 10px;
}
.secondLine{
	width: 4px;
	height: 150px;
	background: url("../images/v-line.png") repeat-y center;
}
.glyphicon-search:hover{
	color: #30A4E1;
}
.dialogContent  .w300{
	font-size: 14px;
	margin-top: 10px;
	padding-left: 30px;
	line-height:18px;
	background: url("../images/circleRight.png") no-repeat;
}
.secondConfirm{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 17px;
	color:  #e5840d;
}
.highcharts-yaxis-title{
	display: none;
}
.tip{
	width: 20px;
	height: 20px;
	position: relative;
	left: 40px;
	background: url("../images/tip.png") no-repeat center;
}
.tip:hover{
	background: url("../images/tipOn.png") no-repeat center;
}
.editName{
	font-size: 12px;
	color: #666666;
	margin-top: 5px;
}
.noResultContent{
	bottom: 0px !important;
}
.noResult{
	position: relative;
	top: 100px;
	left: 50%;
	margin-left: -226px;
	width: 502px;
}
.rightchooseDiv .noResult{
	margin-left: -260px !important;
}
.headTitle .float-right{
	font-size: 12px;
}
.locationInfo{
	padding-left: 20px;
	background: url("../images/location.png") no-repeat;
}
.btn-md{
	padding: 4px 16px;
	border: none;
	border-radius: 3px;
}
.addTableTr{
	line-height: 40px;
}
.icon-search .input-group-addon{
	background-color: #FFFFFF;
}
.leftTree .close{
	top: -19px !important;
	right: -17px !important;
}
textarea{
	resize: none;
}
.input-sm{
	width: 50px;
	border: 1px solid #CCCCCC;
}
.flowZtree li{
	cursor: pointer;
}
.close{
	color: #999;
}
.cleanSearchBtn{
	position: absolute;
	top: 84px;
	left: 210px;
	font-size: 20px;
	color: #666;
}
.logoWord{
	font-size: 24px;
	font-weight: bold;
	margin-left: 10px;
	color: #E3EEF4;
}
.domainTable{
	background-color: #FFFFFF;
	width: 500px;
	margin-top: 10px;
}
.domainTable thead{
	background-color: #FFFFFF;
}
.opacZero{
	opacity: 0;
	filter:alpha(opacity=0);
}
.searchDept{
	border: none;
}
.searchDeptBtn{
	position: relative;
	top: -22px;
	right: 20px;
}
.searchDeptLogo{
	font-size: 12px;
}
.deptListLi{
	margin-top: 8px;
	list-style: none;
}
.l190{
	left: 190px;
}
.mbt30{
	margin-bottom: 30px;
}
.pbt10{
	padding-bottom:10px;
}
.w80{
	width: 80px;
}
.h28{
	height: 28px !important;
}
.w140{
	width: 140px !important;
}
.w150{
	width: 150px !important;
}
.w200{
	width: 200px !important;
}
.w600{
	width: 600px !important;
}
.deviceStatusTd{
	line-height: inherit !important;
}
.fwb{
	font-weight: bold;
}
.pl5{
	padding-left: 5px;
}
.mt6{
	margin-top: 6px;
}
.mbt10{
	margin-bottom: 10px;
}
.leftLineImg{
	float: left;
	margin-right: 20px;
	width: 85px;
}
.leftLinePerson{
	margin-bottom: 10px;
	padding-top:10px;
}
.leftImei{
	margin-bottom: 24px;
	margin-top: 6px;
}
.leftProgress{
	height: 10px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.overflowDiv{
	overflow: auto;
	height: 100%;
}
.aboutDevice{
	font-weight: bold;
	margin-bottom: 10px;
	padding-left: 20px;
}
.elecProgress{
	height: 15px;
	margin-bottom:0px;
}
.lh15{
	line-height: 15px;
}
.lh30{
	line-height: 30px;
}
.lh32{
	line-height: 32px;
}
.fs10{
	font-size: 10px;
}
.apnRefresh{
	margin-left:10px;
	color: #33a1e6;
}
.ml40{
	margin-left: 40px;
}
.mr10{
	margin-right: 10px;
}
.mr20{
	margin-right: 20px;
}
.leftLogoImg{
	width: 100%; height: 100%;
}
.rightAppName{
	margin-bottom: 5px;line-height: 18px;color: #333;
}
.versionWidth{
	margin-top: 6px; width: 145px;
}
.mt8{
	margin-top: 8px;
}
.mr0{
	margin-right: 0px;
}
.uninstallBtn{
	margin-left: 3px;margin-right: 0px;
}
.ml37{
	margin-left: 37px;
}
.linePosition{
	position: relative;left: 36px;
}
.ml5{
	margin-left: 5px;
}
.ml0{
	margin-left: 0px;
}
.mt0{
	margin-top: 0px;
}
.mbt20{
	margin-bottom: 20px;
}
.timeStyle{
	margin-left: 100px;margin-top: 5px;
}
.alertMsg{
	position: absolute; top: 20px; left: 500px; z-index: 9999;
}
.listLi{
	list-style: none;
}
.mr45{
	margin-right: 45px;
}
.deviceDesc{
	position: relative;left: 86px;top: -20px;width: 750px;
}
.addGroupDiv{
	position: absolute; left: 280px; top: 0px; bottom: 80px; overflow: auto; right: 0px;
}
.chooseAllLine{
	text-align:right;width:100%;
}
.chooseAllWord{
	width: 80px;height: 24px;background-color: #FFFFFF;
}
.vtb{
	vertical-align: bottom;
}
.chooseDeviceDiv{
	height: 200px;overflow: auto;
}
.descNote{
	height:130px;width:100%;
}
.alertMsgTop{
	position: absolute; top: 20px; left: 600px; right: 600px; z-index: 9999;
}
.chooseUser{
	color: red;position: absolute;top: 160px;
}
.borTop{
	border-top: 1px solid #cccccc;
}
.mbt5{
	margin-bottom: 5px;
}
.mbt0{
	margin-bottom: 0px;
}
.noticeTitle{
	margin-bottom: 10px;color: #333;
}
.top80{
	top: 80px;
}
.handleHeight{
	height: 100px;
}
.lh26{
	line-height: 26px;
}
.lh22{
	line-height: 22px;
}
.h55{
	height: 55px;
}
.pl60{
	padding-left: 60px;
}
.ml20{
	margin-left: 20px;
}
.ml70{
	margin-left: 70px;
}
.strategyApn{
	width: 200px;height: 34px;line-height: 34px;padding-left: 8px;
}
.w180{
	width: 180px;
}
.pl17{
	padding-left: 17px;
}
.triangleTop{
	position:relative; color: #ccc;top: 4px; font-size: 14px;
}
.rel135{
	left: 135px !important;
}
.rel485{
	left: 485px !important;
}
.chevronRight{
	float:right;position:relative;top: -35px;
}
.limitChevron{
	float:right;position:relative;top: -67px;
}
.limitFlow{
	width: 60px; height: 30px;padding-left: 8px;
}
.mapTriangle{
	position: relative; float: right;top: -35px;left: -140px;color: #ccc;font-size: 20px;
}
.addDomainDia{
	padding-top: 0px;margin-top: -20px;width: 470px;
}
.animationGif{
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: 0px;
	margin-top: -70px;
}
.animationWord{
	font-size: 16px;
	font-weight: bold;
	color: #666666;
	position: absolute;
	left: 45%;
	top: 55%;
}